span.class {
    display: inline-block;
    width: 85px;
    padding: 5px 0;
    margin-left: 15px;
    
    @include Sans(700, 14px, 14px, initial);
    color: $white-1;
    text-align: center;

    &.normal {
        background: linear-gradient(94.94deg, #ACF0FA 0%, #00C9E4 35.94%);
    }

    &.platinum {
        background: linear-gradient(94.94deg, #FFE0DA 0%, #FF8A71 35.94%);
    }

    &.golden {
        background: linear-gradient(94.94deg, #FFE8C5 0%, #FFAC2F 35.94%);
    }
}