.custom-container {
    width: 100%;
    margin: 0 auto;
    position: relative;

    &.p-150 {
        padding-bottom: 150px;
    }

    &.p-200 {
        padding-bottom: 200px;
    }

    &.c-1620 {
        max-width: 1620px;

        @media(max-width: 1297px) {
            padding: 0 40px;
            max-width: 1200px;
        }

        @media(max-width: 785px) {
            padding: 0 29px;
            max-width: 785px;
        }

        @media(max-width: 593px) {
            padding: 0 15px;
            max-width: 593px;
        }
    }
    
    &.c-1575 {
        max-width: 1575px;

        @media(max-width: 785px) {
            height: 467px;
        }

        @media(max-width: 593px) {
            height: auto;
        }
    }
    
    &.c-1470 {
        max-width: 1470px;
    }

    &.c-1274 {
        max-width: 1274px;
    }
    
    &.c-1272 {
        max-width: 1272px;
    }

    &.c-1056 {
        max-width: 1056px;
    }
    
    &.c-954 {
        max-width: 954px;
    }

    &.c-840 {
        max-width: 840px;
    }
    
    &.c-644 {
        max-width: 644px;
    }

    &.c-624 {
        max-width: 624px;
    }

    &.c-450 {
        max-width: 450px;
    }
    
}