.stake-list {
    display: flex;

    .list {
        flex: 1 1 0%;

        .tournament,.geographical {
            margin-top: 40px;

            &:first-child {
                margin-top: 0;
            }

            .header {
                @include Sans(700, 18px, 18px, .05em);
                color: $white-1;
                background: $blue-5;
                padding: 10px 15px 12px;
                border-radius: 5px;
            }

            .catalog-btns {
                padding: 20px;
                padding-bottom: 10px;

                .btn {
                    display: inline-block;
                    @include btn-options;
                    margin-bottom: 0;

                    &:first-child {
                        margin-left: 0;
                    }

                    &:hover,
                    &.active {
                        @include hover-orange;
                    }

                    .icon {
                        font-size: 14px;
                        display: inline-block;
                        margin-right: 5px;
                    }
                }
            }

            .detail {
                .locations {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 9px 15px;
                    margin-top: 15px;

                    @include Sans(400, 18px, 18px, .05em);
                    color: $gray-5;
                    border-bottom: 2px solid $gray-2;

                    &:first-child {
                        border-top: 2px solid $gray-2;
                    }

                    &:hover {
                        background: $gray-1;

                        .name {
                            color: $orange-5;
                        }
                    }

                    .number {
                        display: inline-block;
                        padding: 8px 12px;
                        border-radius: 5px;
                        background: $gray-2;
                    }
                }

                table.trading-table {
                    width: 100%;

                    &:first-child {
                        margin-top: 10px;
                    }

                    thead {
                        @include Sans(700, 14px, 14px, .05em);
                        color: $gray-5;

                        tr {
                            th {
                                padding: 13px 13px 13px 15px;
                                background: $yellow-5;


                                &:first-child {
                                    text-align: left;
                                    border-radius: 5px 0 0 5px;
                                    width: 100%;
                                }

                                &:last-child {
                                    border-radius: 0 5px 5px 0;
                                }
                            }
                        }
                    }

                    tbody {
                        @include Sans(700, 14px, 14px, .05em);
                        color: $gray-5;

                        .text-g {
                            color: $green-1;
                        }

                        .text-b {
                            color: $blue-5;
                        }

                        .text-r {
                            color: $red-1;
                        }

                        .text-time {
                            color: $gray-4;
                        }

                        tr {
                            border-top: 2px solid $gray-2;

                            &:first-child {
                                border-top: 0;
                            }

                            td {
                                padding: 10px 2.5px;
                                position: relative;

                                &:last-child {
                                    padding-right: 13px;
                                }

                                &:first-child {
                                    padding-left: 15px;
                                }

                                .team {
                                    margin-top: 10px;
                                    font-weight: 400;
                                }
                            }
                        }

                        .data {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 80px;
                            height: 80px;
                            border-radius: 5px;

                            @include Sans(400, 14px, 14px, initial);
                            color: $gray-5;

                            &.auto-width {
                                width: 100%;
                            }

                            &.selected {
                                background: $orange-5;
                                color: $white-1;
                                border-color: $orange-5;
                            }

                            &.disabled {
                                background: $gray-1;
                                color: $gray-3;
                                font-size: 30px;
                                cursor: not-allowed;
                            }

                            &.function-button {
                                background: $gray-1;

                                &:hover {
                                    @include hover-orange;
                                }

                                &.active+.expandList {
                                    display:block;
                                }
                            }
                        }

                        .expandList {
                            display: none;
                            position: absolute;
                            right: calc(100% - 3px);
                            top: calc(-100% + 10px);
                            z-index: 3;
                            padding: 10px 5px;
                            border-radius: 5px;
                            background: $white-1;
                            @include normal-shadow;

                            .options-btns {
                                display: flex;
                                margin-top: 10px;
                                
                                &:first-child {
                                    margin-top: 0;
                                }

                                .data {
                                    &:first-child {
                                        margin-right: 5px;
                                    }
                                }
                            }
                        }

                        .data-outline {
                            border: 1px solid $gray-4;

                            &:hover {
                                border-color: $orange-5;
                            }
                        }

                        .point {
                            display: flex;

                            div {
                                padding: 0 7.5px;
                                margin-bottom: 10px;
                            }
                        }
                    }
                }
            }
        }

        .contest-stake {

            .detail-catalog {
                .btn {
                    @include btn-options;
                    padding: 13px 30px;
                    margin-bottom: 0;
                    margin-left: 15px;

                    &:first-child {
                        margin-left: 0;
                    }

                    &:hover,&.active {
                        @include hover-orange;
                    }
                }
            }

            .precaution {
                @include Sans(400, 14px, 14px, .05em);
                color: $red-1;
                padding-top: 15px;
            }

            .detail {
                padding-top: 15px;

                .contest-type {
                
                    &:nth-child(odd) {
                        .header {
                            background: $yellow-5;
                        }
                    }

                    &:nth-child(even) {
                        .header {
                            background: $yellow-3;
                        }
                    }

                    .header {
                        display: flex;
                        justify-content: space-between;

                        @include Sans(700, 14px, 14px, .05em);
                        color: $gray-5;

                        padding: 13px 15px;
                        border-radius: 5px;

                        .name {
                            font-weight: 400;
                        }
                    }

                    .stake-detail {
                        padding: 20px 15px 30px;

                        .title {
                            display: flex;
                            justify-content: space-between;
                            margin-bottom: 20px;

                            color: $gray-5;

                            .total {
                                @include Sans(700, 18px, 18px, .05em);
                            }

                            .viewer {
                                display: flex;
                                align-items: center;
                                @include Sans(400, 14px, 14px, .05em);

                                span.icon {
                                    display: inline-block;
                                    margin-right: 10px;
                                }
                            }
                        }

                        .teams-name {
                            display: flex;

                            @include Sans(700, 14px, 14px, .05em);
                            color: $gray-5;

                            div {
                                flex: 1 1 0%;
                                padding: 13px 0;
                                text-align: center;
                                margin-left: 15px;
                                background: $gray-2;
                                border-radius: 5px;

                                &:first-child {
                                    margin-left: 0;
                                }
                            }
                        }

                        .row {
                            display: flex;
                            border-bottom: 2px solid $gray-2;
                            padding: 20px 0;

                            &:last-child {
                                border-bottom: 0;
                                padding-bottom: 0;
                            }

                            .col {
                                flex: 1 1 0%;
                                padding-left: 15px;

                                &:first-child {
                                    padding-left: 0;
                                }
                            }
                        }
                        
                        .buttons {
                            display: flex;

                            .stake-btn {
                                flex: 1 1 0%;
                                margin-left: 10px;

                                &:first-child {
                                    margin-left: 0;
                                }

                                button {
                                    width: 100%;
                                    display: flex;
                                    justify-content: space-between;
                                    padding: 15px 18px;
                                    margin-bottom: 5px;

                                    border: 1px solid $gray-4;
                                    border-radius: 5px;

                                    @include Sans(400, 14px, 14px, .05em);
                                    color: $gray-5;

                                    .number {
                                        color: $orange-5;
                                    }

                                    &.selected,&:hover {
                                        @include hover-orange;

                                        .number {
                                            color: $white-1;
                                        }
                                    }
                                }

                                .m {
                                    @include Sans(400, 14px, 14px, .05em);

                                    span.icon {
                                        display: inline-block;
                                        margin-right: 10px;

                                        font-size: 14px;
                                        color: $gray-4;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .sidebar {
        width: 300px;
        height: min-content;
        max-height: 900px;
        margin-left: 10px;
        background: $blue-5;
        padding: 0 5px;
        border-radius: 5px;
        position: sticky;
        top: 5px;

        .header {
            display: flex;
            align-items: center;
            @include Sans(700, 18px, 18px, .05em);
            color: $white-1;
            padding: 11px 10px;

            .name {
                .number {
                    display: inline-block;
                    background: $orange-5;
                    padding: 2px 12px 4px;
                    margin-left: 10px;
                    border-radius: 5px;
                }
            }

            .delete {
                cursor: pointer;
                margin-left: auto;
                @include Sans(400, 14px, 14px, .1em);

                &:hover {
                    color: $orange-5;
                }

                .icon {
                    display: inline-block;
                    margin-right: 5px;
                }
            }
        }

        .stake-cards {
            overflow: auto;
            max-height: 721px;

            .stake-card {
                margin-top: 5px;

                &:first-child {
                    margin-top: 0;
                }

                .error-msg {
                    display: none;
                    color: $white-1;
                    @include Sans(700, 14px, 14px, .05em);
                    padding: 7px 10px 9px;
                }

                &.error {
                    background: $red-1;
                    border-radius: 5px;

                    .error-msg {
                        display: block;
                    }
                }

                .card-body {
                    background: $white-1;
                    padding: 15px 0;
                    position: relative;
                    border-radius: 5px;

                    @include Sans(400, 14px, 14px, .05em);
                    color: $gray-5;

                    .delete {
                        position: absolute;
                        right: 10px;
                        top: 10px;
                        font-size: 18px;
                        color: $gray-4;
                    }

                    .top {
                        padding: 0 10px;

                        .contest {
                            margin-top: 10px;
                        }
                    }

                    .mid {
                        background: $yellow-5;
                        padding: 8px 10px;
                        display: flex;
                        justify-content: space-between;
                        font-weight: 700;
                        margin-top: 15px;
                    }

                    .bottom {
                        margin-top: 10px;

                        .stake-status {
                            padding: 0 10px;

                            .name {
                                font-weight: 700;
                            }

                            .points {
                                margin-top: 10px;
                            }
                        }

                        .predict {
                            display: flex;
                            justify-content: space-between;
                            padding: 0 5px;
                            margin-top: 15px;
                            
                            input.input-control,.point {
                                width: calc(50% - 5px);
                                padding: 9px 10px;
                                color: $gray-4;
                                border: 1px solid $gray-4;
                                border-radius: 5px;
                            }

                            .point {
                                background: $gray-2;
                                display: flex;
                                align-items: center;
                            }
                        }
                    }
                }
            }
        }

        .total {
            padding: 20px 15px;

            .total-point {
                @include Sans(700, 14px, 14px, .05em);
                color: $white-1;
                margin-top: 15px;
    
                display: flex;
                justify-content: space-between;

                &:first-child {
                    margin-top: 0;
                }
            }
        }


        .gotostake {
            display: block;
            color: $white-1;
            background: $orange-5;
            border-radius: 5px;
            text-align: center;
            padding: 13px 0;
            margin: 0 -5px;
        }
    }
}

.warning-board {
    width: 100%;
    max-width: 400px;
    padding: 35px 0 33px;

    margin: auto;
    margin-top: 70px;

    background: $gray-1;
    text-align: center;
    border-radius: 20px;

    .icon {
        font-size: 30px;
        color: $red-1;

        margin-bottom: 21px;
    }

    p {
        @include Sans(400, 14px, 14px, .05em);
        color: $gray-5;
    }
}

.pagination {
    @include pagination;
    padding-top: 100px;
}