.tab {
    margin-bottom: 50px;
    
    .tab-options {
        display: flex;
        justify-content: center;

        .btn {
            @include btn-gray;
            padding: 7px 28px;
            margin-left: 15px;

            &.active {
                @include btn-orange;
            }
        }
    }
}