@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&family=Noto+Serif+TC:wght@900&family=Trade+Winds&display=swap");
header .header-l .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-l .logo img {
  width: 65px;
}

header .header-l .logo .site-name {
  padding-left: 15px;
  font-family: 'Noto Serif TC', 'serif';
  font-weight: 900;
  font-size: 30px;
  line-height: 117.52%;
  letter-spacing: initial;
}

header .header-r {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

header .header-r .register-btn {
  background: #ff621f;
  padding: 15px 51px;
  font-family: 'Noto Sans TC', 'sans-serif';
  font-weight: 700;
  font-size: 18px;
  line-height: 19px;
  letter-spacing: 0.1em;
  text-align: center;
  color: white;
}

header .header-r .register-btn:hover {
  background: #fcbd1f;
}

header .header-r .account {
  color: #0046ae;
  font-size: 30px;
  padding: 0 40px;
}

header .header-r .account:hover {
  color: #fcbd1f;
}

header .header-r .burger-menu button.burger {
  width: 40px;
  height: 30px;
  border: none;
  background: transparent;
  position: relative;
  z-index: 50;
  cursor: pointer;
}

header .header-r .burger-menu button.burger:focus {
  outline: none;
}

header .header-r .burger-menu button.burger:hover.burger-style:after, header .header-r .burger-menu button.burger:hover.burger-style:before,
header .header-r .burger-menu button.burger:hover.burger-style span {
  background: #fcbd1f;
}

header .header-r .burger-menu button.burger:hover.burger-style span:before {
  background: #fcbd1f;
}

header .header-r .burger-menu button.burger.burger-style:after, header .header-r .burger-menu button.burger.burger-style:before,
header .header-r .burger-menu button.burger.burger-style span {
  width: 100%;
  height: 4px;
  border-radius: 100px;
  position: absolute;
  display: block;
  background: #0046ae;
}

header .header-r .burger-menu button.burger.burger-style:after, header .header-r .burger-menu button.burger.burger-style:before {
  content: "";
  -webkit-transition: 0.3s width 0.4s;
  transition: 0.3s width 0.4s;
}

header .header-r .burger-menu button.burger.burger-style:after {
  top: 0px;
  left: 0px;
  margin-top: 0px;
}

header .header-r .burger-menu button.burger.burger-style:before {
  bottom: 0px;
  right: 0px;
  margin-bottom: 0px;
}

header .header-r .burger-menu button.burger.burger-style span {
  top: 50%;
  margin-top: -2px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

header .header-r .burger-menu button.burger.burger-style span:before {
  content: "";
  background: #0046ae;
  width: 100%;
  height: 4px;
  border-radius: 100px;
  position: absolute;
  left: 0px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

header .header-r .burger-menu button.burger.burger-style.on:after {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  width: 0%;
  left: 0px;
}

header .header-r .burger-menu button.burger.burger-style.on:before {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  width: 0%;
  right: 0px;
}

header .header-r .burger-menu button.burger.burger-style.on span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: 0.3s -webkit-transform 0.4s;
  transition: 0.3s -webkit-transform 0.4s;
  transition: 0.3s transform 0.4s;
  transition: 0.3s transform 0.4s, 0.3s -webkit-transform 0.4s;
  background: #fcbd1f;
}

header .header-r .burger-menu button.burger.burger-style.on span:before {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: 0.3s -webkit-transform 0.4s;
  transition: 0.3s -webkit-transform 0.4s;
  transition: 0.3s transform 0.4s;
  transition: 0.3s transform 0.4s, 0.3s -webkit-transform 0.4s;
  background: #fcbd1f;
}

header .header-r .burger-menu .menu {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  position: fixed;
  z-index: 10;
  top: 0;
  left: -100vw;
  -webkit-transition: .5s;
  transition: .5s;
  opacity: 0;
  overflow: hidden;
}

header .header-r .burger-menu .menu.on {
  left: 0;
  -webkit-transition: .5s;
  transition: .5s;
  opacity: .95;
}

header .header-r .burger-menu .menu .main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
  height: 100%;
  background: #0046ae;
}

header .header-r .burger-menu .menu .main-menu .menu-botton {
  border: 2px #fcbd1f solid;
  border-radius: 5px;
  padding: 48px 55px;
  margin: 10px;
  background: rgba(252, 189, 31, 0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 30px 30px 50px rgba(0, 0, 0, 0.25);
          box-shadow: 30px 30px 50px rgba(0, 0, 0, 0.25);
  color: #fcbd1f;
  font-size: 45px;
}

header .header-r .burger-menu .menu .main-menu .menu-botton.active {
  background: #fcbd1f;
  color: #0046ae;
}

header .header-r .burger-menu .menu .main-menu .menu-botton div {
  font-family: 'Noto Sans TC', 'sans-serif';
  font-weight: 700;
  font-size: 24px;
  line-height: 25px;
  letter-spacing: 0.05em;
}

header .header-r .burger-menu .menu-modal {
  width: 0;
  height: 100%;
  background: #5c9fe6;
  opacity: 0;
  position: relative;
  left: 300px;
  -webkit-transition: 1s;
  transition: 1s;
}

header .header-r .burger-menu .menu-modal.active, header .header-r .burger-menu .menu-modal:hover {
  width: 732px;
  opacity: 1;
  left: 0;
}

header .header-r .burger-menu .menu-modal .close-btn {
  background: #5c9fe6;
  border-radius: 50%;
  position: absolute;
  left: -40px;
  top: 50%;
}

header .header-r .burger-menu .menu-modal .close-btn button.menu-link-button {
  width: 80px;
  height: 80px;
  border: none;
  background: transparent;
  position: relative;
  cursor: pointer;
  position: relative;
  z-index: 50;
}

header .header-r .burger-menu .menu-modal .close-btn button.menu-link-button.burger-style:after, header .header-r .burger-menu .menu-modal .close-btn button.menu-link-button.burger-style:before,
header .header-r .burger-menu .menu-modal .close-btn button.menu-link-button.burger-style span {
  width: 50%;
  height: 4px;
  border-radius: 100px;
  display: block;
  background: #0046ae;
}

header .header-r .burger-menu .menu-modal .close-btn button.menu-link-button.burger-style:after, header .header-r .burger-menu .menu-modal .close-btn button.menu-link-button.burger-style:before {
  content: "";
  -webkit-transition: 0.3s width 0.4s;
  transition: 0.3s width 0.4s;
}

header .header-r .burger-menu .menu-modal .close-btn button.menu-link-button.burger-style:after {
  top: 0px;
  width: 0%;
  left: 0px;
  margin-top: 0px;
}

header .header-r .burger-menu .menu-modal .close-btn button.menu-link-button.burger-style:before {
  bottom: 0px;
  width: 0%;
  right: 0px;
  margin-bottom: 0px;
}

header .header-r .burger-menu .menu-modal .close-btn button.menu-link-button.burger-style span {
  margin-top: -2px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: white;
  position: absolute;
  left: 20px;
}

header .header-r .burger-menu .menu-modal .close-btn button.menu-link-button.burger-style span:before {
  content: "";
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  background: white;
  width: 100%;
  height: 4px;
  border-radius: 100px;
  position: absolute;
  left: 0px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

header .header-r .burger-menu .menu-modal .link-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  width: 75%;
  height: 100%;
}

header .header-r .burger-menu .menu-modal .link-list .menu-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 460px;
}

header .header-r .burger-menu .menu-modal .link-list .menu-links .menu-link {
  width: 200px;
  border: 2px #fcbd1f solid;
  border-radius: 5px;
  color: #fcbd1f;
  padding: 15px 50px;
  background: rgba(252, 189, 31, 0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 30px 30px 50px rgba(0, 0, 0, 0.25);
          box-shadow: 30px 30px 50px rgba(0, 0, 0, 0.25);
  margin: 15px;
  font-family: 'Noto Sans TC', 'sans-serif';
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  letter-spacing: 0.3em;
  text-align: center;
}

header .header-r .burger-menu .menu-modal .link-list .menu-links .menu-link:hover {
  background: #fcbd1f;
  color: #0046ae;
}

.banner {
  width: 100%;
  height: 929px;
  position: relative;
}

.banner .banner-outline {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  -o-object-fit: contain;
     object-fit: contain;
}

.banner .banner-texture {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -20px;
  left: -65px;
  z-index: 1;
  -o-object-fit: contain;
     object-fit: contain;
}

.banner .custom-container {
  width: 100%;
  height: 100%;
  padding: 150px 0;
  padding-top: 100px;
  position: relative;
  z-index: 3;
}

.banner .custom-container .bannerSwiper {
  width: 100%;
  height: 100%;
  padding: 150px;
  padding-right: 0;
}

.banner .custom-container .bannerSwiper .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner .custom-container .bannerSwiper .swiper-slide .left {
  width: 100%;
  max-width: 873px;
}

.banner .custom-container .bannerSwiper .swiper-slide .left .title {
  font-family: 'Noto Serif TC', 'serif';
  font-weight: 900;
  font-size: 72px;
  line-height: 130%;
  letter-spacing: 0.1em;
  color: white;
}

.banner .custom-container .bannerSwiper .swiper-slide .left .banner-link {
  display: block;
  margin-top: 110px;
  background: #ff621f;
  width: 180px;
  text-align: center;
  padding: 15px 0;
  font-family: 'Noto Sans TC', 'sans-serif';
  font-weight: 700;
  font-size: 18px;
  line-height: 19px;
  letter-spacing: 0.1em;
  color: white;
  -webkit-box-shadow: 30px 30px 50px rgba(0, 0, 0, 0.25);
          box-shadow: 30px 30px 50px rgba(0, 0, 0, 0.25);
}

.banner .custom-container .bannerSwiper .swiper-slide .left .scription {
  padding-top: 60px;
  padding-bottom: 17px;
  font-family: 'Noto Sans TC', 'sans-serif';
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  letter-spacing: 0.05em;
  color: white;
}

.banner .custom-container .bannerSwiper .swiper-slide .left .number {
  font-family: 'Noto Sans TC', 'sans-serif';
  font-weight: 900;
  font-size: 150px;
  line-height: 100px;
  letter-spacing: 1;
  color: #ff621f;
}

.banner .custom-container .bannerSwiper .swiper-slide .left .per {
  font-size: 48px;
}

.banner .custom-container .bannerSwiper .swiper-slide .right .cards {
  width: 100%;
}

.banner .custom-container .bannerSwiper .swiper-slide .right .cards.type-1 {
  max-width: 626px;
  padding-left: 110px;
}

.banner .custom-container .bannerSwiper .swiper-slide .right .cards.type-1 .card {
  max-width: 414px;
  height: 120px;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: white;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  opacity: .8;
}

.banner .custom-container .bannerSwiper .swiper-slide .right .cards.type-1 .card .account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner .custom-container .bannerSwiper .swiper-slide .right .cards.type-1 .card .account .avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #717171;
}

.banner .custom-container .bannerSwiper .swiper-slide .right .cards.type-1 .card .account .avatar img {
  width: 100%;
  height: 100%;
}

.banner .custom-container .bannerSwiper .swiper-slide .right .cards.type-1 .card .account .account-detail {
  padding: 12px;
  padding-right: 5px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
}

.banner .custom-container .bannerSwiper .swiper-slide .right .cards.type-1 .card .account .account-detail .name {
  font-family: 'Noto Sans TC', 'sans-serif';
  font-weight: 700;
  font-size: 18px;
  line-height: 117.52%;
  letter-spacing: 1;
  color: #393939;
}

.banner .custom-container .bannerSwiper .swiper-slide .right .cards.type-1 .card .account .account-detail .skill {
  font-family: 'Noto Sans TC', 'sans-serif';
  font-weight: 400;
  font-size: 14px;
  line-height: 125%;
  letter-spacing: 0.1em;
  color: #888888;
  padding-top: 7px;
  padding-bottom: 10px;
}

.banner .custom-container .bannerSwiper .swiper-slide .right .cards.type-1 .card .profit .number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Noto Sans TC', 'sans-serif';
  font-weight: 900;
  font-size: 72px;
  line-height: 117.52%;
  letter-spacing: 1;
  color: #ff621f;
}

.banner .custom-container .bannerSwiper .swiper-slide .right .cards.type-1 .card .profit .number .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 10px;
  font-size: 45px;
}

.banner .custom-container .bannerSwiper .swiper-slide .right .cards.type-1 .card .profit .number .pre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 10px;
  font-family: 'Noto Sans TC', 'sans-serif';
  font-weight: 900;
  font-size: 30px;
  line-height: 35.25px;
  letter-spacing: 0.05em;
}

.banner .custom-container .bannerSwiper .swiper-slide .right .cards.type-1 .card.active {
  max-width: 516px;
  height: 170px;
  z-index: 2;
  margin: -20px auto;
  padding: 35px 25px;
  -webkit-box-shadow: 30px 30px 50px rgba(0, 0, 0, 0.25);
          box-shadow: 30px 30px 50px rgba(0, 0, 0, 0.25);
  opacity: 1;
}

.banner .custom-container .bannerSwiper .swiper-slide .right .cards.type-1 .card.active .account .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #FFAA3B;
}

.banner .custom-container .bannerSwiper .swiper-slide .right .cards.type-1 .card.active .account .account-detail {
  padding: 20px;
}

.banner .custom-container .bannerSwiper .swiper-slide .right .cards.type-1 .card.active .account .account-detail .name {
  font-family: 'Noto Sans TC', 'sans-serif';
  font-weight: 700;
  font-size: 24px;
  line-height: 117.52%;
  letter-spacing: 1;
}

.banner .custom-container .bannerSwiper .swiper-slide .right .cards.type-1 .card.active .account .account-detail .skill {
  font-family: 'Noto Sans TC', 'sans-serif';
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  letter-spacing: 0.1em;
  padding-top: 10px;
  padding-bottom: 13px;
}

.banner .custom-container .bannerSwiper .swiper-slide .right .cards.type-1 .card.active .profit {
  padding-left: 15px;
}

.banner .custom-container .bannerSwiper .swiper-slide .right .cards.type-1 .card.active .profit .button {
  font-family: 'Noto Sans TC', 'sans-serif';
  font-weight: 700;
  font-size: 14px;
  line-height: 125%;
  letter-spacing: 0.05em;
  color: #ff621f;
  text-align: center;
  border: 1px solid #ff621f;
  border-radius: 5px;
}

.banner .custom-container .bannerSwiper .swiper-slide .right .cards.type-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -82px;
}

.banner .custom-container .bannerSwiper .swiper-slide .right .cards.type-2 .card {
  max-width: 300px;
  height: 256px;
  background: white;
  width: 100%;
  max-width: 300px;
  border-radius: 5px;
  margin-right: 30px;
  margin-bottom: 40px;
}

.banner .custom-container .bannerSwiper .swiper-slide .right .cards.type-2 .card:nth-child(2) {
  margin-top: 142px;
}

.banner .custom-container .bannerSwiper .swiper-slide .right .cards.type-2 .card:last-child {
  margin-top: -142px;
}

.banner .custom-container .bannerSwiper .swiper-slide .right .cards.type-2 .card .account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 30px;
  padding-top: 25px;
  padding-bottom: 15px;
}

.banner .custom-container .bannerSwiper .swiper-slide .right .cards.type-2 .card .account .avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: #FFAA3B;
}

.banner .custom-container .bannerSwiper .swiper-slide .right .cards.type-2 .card .account .avatar img {
  width: 100%;
  height: 100%;
}

.banner .custom-container .bannerSwiper .swiper-slide .right .cards.type-2 .card .account .account-detail {
  padding: 20px 0;
  padding-left: 16px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
}

.banner .custom-container .bannerSwiper .swiper-slide .right .cards.type-2 .card .account .account-detail .name {
  font-family: 'Noto Sans TC', 'sans-serif';
  font-weight: 700;
  font-size: 18px;
  line-height: 21.15px;
  letter-spacing: 1;
  color: #393939;
}

.banner .custom-container .bannerSwiper .swiper-slide .right .cards.type-2 .card .account .account-detail .skill {
  font-family: 'Noto Sans TC', 'sans-serif';
  font-weight: 400;
  font-size: 14px;
  line-height: 125%;
  letter-spacing: 0.1em;
  color: #888888;
  padding-top: 10px;
}

.banner .custom-container .bannerSwiper .swiper-slide .right .cards.type-2 .card .account .account-detail .follow-btn {
  width: 100%;
  border: 1px solid #0046ae;
  border-radius: 5px;
  padding: 8px 0;
  font-family: 'Noto Sans TC', 'sans-serif';
  font-weight: 400;
  font-size: 14px;
  line-height: 12px;
  letter-spacing: 0.05em;
  text-align: center;
  color: #0046ae;
}

.banner .custom-container .bannerSwiper .swiper-slide .right .cards.type-2 .card .rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner .custom-container .bannerSwiper .swiper-slide .right .cards.type-2 .card .rate .total-rate {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
  color: #ff621f;
  text-align: center;
  position: relative;
}

.banner .custom-container .bannerSwiper .swiper-slide .right .cards.type-2 .card .rate .total-rate:first-child::after {
  content: '';
  position: absolute;
  height: 100%;
  border-right: 1px solid #E9E9E9;
  right: 0;
  top: 0;
}

.banner .custom-container .bannerSwiper .swiper-slide .right .cards.type-2 .card .rate .total-rate .number {
  font-family: 'Noto Sans TC', 'sans-serif';
  font-weight: 700;
  font-size: 48px;
  line-height: 117.52%;
  letter-spacing: 1;
}

.banner .custom-container .bannerSwiper .swiper-slide .right .cards.type-2 .card .rate .total-rate .unit {
  font-family: 'Noto Sans TC', 'sans-serif';
  font-weight: 700;
  font-size: 30px;
  line-height: 35.26px;
  letter-spacing: 1;
}

.banner .custom-container .bannerSwiper .swiper-slide .right .cards.type-2 .card .rate .total-rate .total {
  width: 100%;
  font-family: 'Noto Sans TC', 'sans-serif';
  font-weight: 400;
  font-size: 14px;
  line-height: 117.52%;
  letter-spacing: 1;
  color: #A4A4A4;
}

.banner .custom-container .bannerSwiper .swiper-slide .right .cards.type-2 .card .rate .total-rate .title {
  width: 100%;
  padding-top: 16px;
  font-family: 'Noto Sans TC', 'sans-serif';
  font-weight: 700;
  font-size: 14px;
  line-height: 117.52%;
  letter-spacing: 0.1em;
  color: #393939;
}

.banner .custom-container .bannerSwiper .swiper-slide .right .cards.type-2 .card .rate .border {
  height: 100%;
  border-left: 1px solid #E9E9E9;
  padding: 0 30px;
}

.banner .custom-container .bottom-left-buttons {
  width: 807px;
  height: 250px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.banner .custom-container .bottom-left-buttons .buttons-outline {
  width: 100%;
  height: 100%;
  -webkit-mask: url("../../images/banner_outline_left_bottom.svg") no-repeat center/contain;
          mask: url("../../images/banner_outline_left_bottom.svg") no-repeat center/contain;
  background: #fcbd1f;
  position: absolute;
  top: 33px;
  right: 45px;
}

.banner .custom-container .bottom-left-buttons .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: calc(50% - 50px);
  top: calc(50% - 10px);
}

.banner .custom-container .bottom-left-buttons .buttons .banner-swiper-button-prev,
.banner .custom-container .bottom-left-buttons .buttons .banner-swiper-button-next {
  position: relative;
  z-index: 2;
  font-size: 50px;
  color: white;
}

.banner .custom-container .bottom-left-buttons .buttons .banner-swiper-pagination {
  width: auto;
  position: relative;
  z-index: 2;
  bottom: auto;
  font-family: 'Noto Sans TC', 'sans-serif';
  font-weight: 700;
  font-size: 18px;
  line-height: 19px;
  letter-spacing: 0.1em;
  padding: 0 32px;
  color: white;
}

section.top-news {
  width: 100%;
  height: 100vh;
  margin-top: -100px;
  background-image: url("../../images/swiper_texture.jpg");
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.top-news .pine-yellow {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 522px;
  height: 330px;
}

section.top-news .custom-container {
  width: 1575px;
  height: 600px;
  position: relative;
}

section.top-news .custom-container .topNewsSwiper {
  width: 100%;
  height: 100%;
}

section.top-news .custom-container .topNewsSwiper .topnews-swiper-button-prev {
  left: 15%;
}

section.top-news .custom-container .topNewsSwiper .topnews-swiper-button-next {
  right: 15%;
}

section.top-news .custom-container .topNewsSwiper .swiper-button-prev, section.top-news .custom-container .topNewsSwiper .swiper-button-next {
  color: #ff621f;
  font-size: 50px;
}

section.top-news .custom-container .topNewsSwiper .swiper-button-prev::after, section.top-news .custom-container .topNewsSwiper .swiper-button-next::after {
  content: '';
}

section.top-news .custom-container .topNewsSwiper .swiper-slide.swiper-slide-active {
  opacity: 1;
}

section.top-news .custom-container .topNewsSwiper .swiper-slide {
  width: 900px;
  opacity: .8;
}

section.top-news .custom-container .topNewsSwiper .swiper-slide .news-picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  height: 100%;
  padding: 75px 65px;
  -webkit-mask: url("../../images/swiper_outline-1.svg") no-repeat center/contain;
          mask: url("../../images/swiper_outline-1.svg") no-repeat center/contain;
  background: #fcbd1f;
}

section.top-news .custom-container .topNewsSwiper .swiper-slide .news-picture .title span {
  display: inline-block;
  background: #ff621f;
  padding: 0 29px;
  padding-bottom: 10px;
  font-family: 'Noto Sans TC', 'sans-serif';
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.1em;
  color: white;
}

section.top-news .custom-container .topNewsSwiper .swiper-slide .news-picture .description {
  width: 616px;
  padding-top: 16px;
  font-family: 'Noto Sans TC', 'sans-serif';
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

section.news-list {
  position: relative;
  background-image: url(../../images/swiper_texture.jpg);
}

section.news-list .news-background {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: absolute;
  top: 300px;
  z-index: 1;
}

section.news-list .custom-container {
  width: 100%;
  position: relative;
  z-index: 2;
}

section.news-list .custom-container .swiper-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.news-list .custom-container .topnews-swiper-button-prev {
  left: 15%;
}

section.news-list .custom-container .topnews-swiper-button-next {
  right: 15%;
}

section.news-list .custom-container .swiper-button-prev, section.news-list .custom-container .swiper-button-next {
  color: #ff621f;
  font-size: 50px;
}

section.news-list .custom-container .swiper-button-prev::after, section.news-list .custom-container .swiper-button-next::after {
  content: '';
}

section.news-list .custom-container .popular-section .title, section.news-list .custom-container .news-section .title {
  font-family: 'Noto Serif TC', 'serif';
  font-weight: 900;
  font-size: 48px;
  line-height: 69px;
  letter-spacing: 0.05em;
  text-align: center;
  position: relative;
  margin-bottom: 96px;
}

section.news-list .custom-container .popular-section .title::after, section.news-list .custom-container .news-section .title::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: calc(50% - 78px);
  width: 136px;
  height: 8px;
  background: #fcbd1f;
}

section.news-list .custom-container .popular-section .newsSwiper .swiper-slide, section.news-list .custom-container .popular-section .popularSwiper .swiper-slide, section.news-list .custom-container .news-section .newsSwiper .swiper-slide, section.news-list .custom-container .news-section .popularSwiper .swiper-slide {
  width: 550px;
}

section.news-list .custom-container .popular-section .newsSwiper .swiper-slide .link, section.news-list .custom-container .popular-section .popularSwiper .swiper-slide .link, section.news-list .custom-container .news-section .newsSwiper .swiper-slide .link, section.news-list .custom-container .news-section .popularSwiper .swiper-slide .link {
  width: 100%;
  height: 100%;
}

section.news-list .custom-container .popular-section .newsSwiper .swiper-slide .link .pic, section.news-list .custom-container .popular-section .popularSwiper .swiper-slide .link .pic, section.news-list .custom-container .news-section .newsSwiper .swiper-slide .link .pic, section.news-list .custom-container .news-section .popularSwiper .swiper-slide .link .pic {
  width: 100%;
  height: 350px;
  -webkit-mask: url("../../images/swiper_outline-1.svg") no-repeat center/contain;
          mask: url("../../images/swiper_outline-1.svg") no-repeat center/contain;
  background: #fcbd1f;
}

section.news-list .custom-container .popular-section .newsSwiper .swiper-slide .link .tag, section.news-list .custom-container .popular-section .popularSwiper .swiper-slide .link .tag, section.news-list .custom-container .news-section .newsSwiper .swiper-slide .link .tag, section.news-list .custom-container .news-section .popularSwiper .swiper-slide .link .tag {
  display: inline-block;
  padding: 0 41px;
  padding-top: 5px;
  padding-bottom: 10px;
  margin-top: 25px;
  margin-left: 16px;
  font-family: 'Noto Sans TC', 'sans-serif';
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.1em;
  color: white;
  border: 2px solid #FF621F;
}

section.news-list .custom-container .popular-section .newsSwiper .swiper-slide .link .description, section.news-list .custom-container .popular-section .popularSwiper .swiper-slide .link .description, section.news-list .custom-container .news-section .newsSwiper .swiper-slide .link .description, section.news-list .custom-container .news-section .popularSwiper .swiper-slide .link .description {
  width: 472px;
  margin-top: 25px;
  margin-left: 16px;
  font-family: 'Noto Sans TC', 'sans-serif';
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.1em;
  color: white;
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

section.news-list .custom-container .popular-section {
  padding-bottom: 150px;
}

section.news-list .custom-container .popular-section .title {
  color: #393939;
}

section.news-list .custom-container .news-section {
  padding-bottom: 200px;
}

section.news-list .custom-container .news-section .title {
  color: white;
}

section.follow {
  position: relative;
  padding-bottom: 200px;
  z-index: 2;
}

section.follow .section-title {
  position: relative;
  margin-bottom: 120px;
  font-family: 'Noto Serif TC', 'serif';
  font-weight: 900;
  font-size: 48px;
  line-height: 69px;
  letter-spacing: 0.05em;
  color: white;
  text-align: center;
}

section.follow .section-title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: calc(50% - 78px);
  width: 136px;
  height: 8px;
  background: #fcbd1f;
}

section.follow .custom-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  width: 75%;
  margin: 0 auto;
}

section.follow .custom-container .intro {
  position: relative;
  padding-left: 60px;
}

section.follow .custom-container .intro .icon {
  font-size: 230px;
  position: absolute;
  right: 90px;
  top: 23%;
  z-index: 1;
  color: #F0F0F0;
}

section.follow .custom-container .intro .title {
  font-family: 'Noto Serif TC', 'serif';
  font-weight: 900;
  font-size: 48px;
  line-height: 69px;
  letter-spacing: 0.05em;
  color: #0046ae;
  padding-bottom: 60px;
}

section.follow .custom-container .intro .context {
  font-family: 'Noto Sans TC', 'sans-serif';
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  letter-spacing: 0.05em;
  color: #393939;
  margin-bottom: -35px;
  position: relative;
  z-index: 2;
}

section.follow .custom-container .intro .number {
  font-family: 'Noto Sans TC', 'sans-serif';
  font-weight: 900;
  font-size: 150px;
  line-height: 217px;
  letter-spacing: 1;
  color: #ff621f;
  padding-bottom: 53px;
  position: relative;
  z-index: 2;
}

section.follow .custom-container .intro .number span {
  font-size: 30px;
}

section.follow .custom-container .intro .notice {
  width: 400px;
  height: 80px;
  position: relative;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding-bottom: 115px;
}

section.follow .custom-container .intro .notice .noticeSwiper {
  width: 100%;
  height: 100%;
  margin: initial;
  border: 1px solid #A4A4A4;
}

section.follow .custom-container .intro .notice .noticeSwiper .swiper-slide {
  padding: 16px 25px;
  font-family: 'Noto Sans TC', 'sans-serif';
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #A4A4A4;
}

section.follow .custom-container .intro .notice .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
}

section.follow .custom-container .intro .notice .buttons .notice-swiper-pagination {
  font-family: 'Noto Sans TC', 'sans-serif';
  font-weight: 700;
  font-size: 18px;
  line-height: 19px;
  letter-spacing: 0.1em;
  color: #A4A4A4;
  margin: 0 16px;
}

section.follow .custom-container .intro .notice .buttons .notice-swiper-button-next, section.follow .custom-container .intro .notice .buttons .notice-swiper-button-prev {
  color: #A4A4A4;
  font-size: 30px;
}

section.follow .custom-container .intro .notice .buttons .notice-swiper-button-next::after, section.follow .custom-container .intro .notice .buttons .notice-swiper-button-prev::after {
  content: initial;
}

section.follow .custom-container .feature {
  position: relative;
}

section.follow .custom-container .feature .featureSwiper {
  height: 100%;
}

section.follow .custom-container .feature .featureSwiper .swiper-slide .card {
  width: 100%;
  max-width: 280px;
  -webkit-box-shadow: 30px 30px 50px rgba(0, 0, 0, 0.25);
          box-shadow: 30px 30px 50px rgba(0, 0, 0, 0.25);
  padding: 20px 30px;
}

section.follow .custom-container .feature .featureSwiper .swiper-slide .card .head {
  font-family: 'Noto Sans TC', 'sans-serif';
  font-weight: 700;
  font-size: 18px;
  line-height: 112.7%;
  letter-spacing: 0.05em;
  color: #0046ae;
}

section.follow .custom-container .feature .featureSwiper .swiper-slide .card hr {
  border-top: 1px solid #0046ae;
}

section.follow .custom-container .feature .featureSwiper .swiper-slide .card .card-body .account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 0;
}

section.follow .custom-container .feature .featureSwiper .swiper-slide .card .card-body .account .avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: #717171;
}

section.follow .custom-container .feature .featureSwiper .swiper-slide .card .card-body .account .avatar img {
  width: 100%;
  height: 100%;
}

section.follow .custom-container .feature .featureSwiper .swiper-slide .card .card-body .account .account-detail {
  padding-left: 16px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
}

section.follow .custom-container .feature .featureSwiper .swiper-slide .card .card-body .account .account-detail .name {
  font-family: 'Noto Sans TC', 'sans-serif';
  font-weight: 700;
  font-size: 18px;
  line-height: 21.15px;
  letter-spacing: 1;
  color: #393939;
}

section.follow .custom-container .feature .featureSwiper .swiper-slide .card .card-body .account .account-detail .skill {
  font-family: 'Noto Sans TC', 'sans-serif';
  font-weight: 400;
  font-size: 14px;
  line-height: 125%;
  letter-spacing: 0.1em;
  color: #888888;
  padding-top: 10px;
  padding-bottom: 13px;
}

section.follow .custom-container .feature .featureSwiper .swiper-slide .card .card-body .account .account-detail .follow-btn {
  width: 100%;
  border: 1px solid #0046ae;
  border-radius: 5px;
  padding: 8px 0;
  font-family: 'Noto Sans TC', 'sans-serif';
  font-weight: 400;
  font-size: 14px;
  line-height: 12px;
  letter-spacing: 0.05em;
  text-align: center;
  color: #0046ae;
}

section.follow .custom-container .feature .featureSwiper .swiper-slide .card .card-body .rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.follow .custom-container .feature .featureSwiper .swiper-slide .card .card-body .rate .total-rate {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
  color: #ff621f;
  text-align: center;
  position: relative;
}

section.follow .custom-container .feature .featureSwiper .swiper-slide .card .card-body .rate .total-rate:first-child::after {
  content: '';
  position: absolute;
  height: 100%;
  border-right: 1px solid #E9E9E9;
  right: 0;
  top: 0;
}

section.follow .custom-container .feature .featureSwiper .swiper-slide .card .card-body .rate .total-rate .wins {
  font-family: 'Noto Sans TC', 'sans-serif';
  font-weight: 900;
  font-size: 48px;
  line-height: 117.52%;
  letter-spacing: 1;
}

section.follow .custom-container .feature .featureSwiper .swiper-slide .card .card-body .rate .total-rate .per {
  font-family: 'Noto Sans TC', 'sans-serif';
  font-weight: 900;
  font-size: 18px;
  line-height: 21.15px;
  letter-spacing: 1;
}

section.follow .custom-container .feature .featureSwiper .swiper-slide .card .card-body .rate .total-rate .total {
  width: 100%;
  font-family: 'Noto Sans TC', 'sans-serif';
  font-weight: 400;
  font-size: 14px;
  line-height: 117.52%;
  letter-spacing: 1;
  color: #A4A4A4;
}

section.follow .custom-container .feature .featureSwiper .swiper-slide .card .card-body .rate .total-rate .title {
  width: 100%;
  padding-top: 16px;
  font-family: 'Noto Sans TC', 'sans-serif';
  font-weight: 700;
  font-size: 14px;
  line-height: 117.52%;
  letter-spacing: 0.1em;
  color: #393939;
}

section.follow .custom-container .feature .featureSwiper .swiper-slide .card .card-body .rate .border {
  height: 100%;
  border-left: 1px solid #E9E9E9;
  padding: 0 30px;
}

section.follow .custom-container .feature .swiper-button-prev, section.follow .custom-container .feature .swiper-button-next {
  width: initial;
  height: initial;
  color: #ff621f;
  font-size: 40px;
}

section.follow .custom-container .feature .swiper-button-prev::after, section.follow .custom-container .feature .swiper-button-next::after {
  content: initial;
}

section.cards {
  position: relative;
  z-index: 1;
  padding-bottom: 250px;
}

section.cards::before {
  content: '';
  width: 100%;
  height: 250px;
  background-image: url("../../images/footer_block.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}

section.cards .dragon-left {
  position: absolute;
  left: 0;
  top: 30px;
  z-index: 1;
  max-width: 620px;
}

section.cards .dragon-left .cls-1 {
  fill: none;
}

section.cards .dragon-left .cls-2 {
  fill: #fcbd1f;
}

section.cards .dragon-right {
  position: absolute;
  right: 0;
  top: -125px;
  z-index: 1;
  max-width: 560px;
}

section.cards .dragon-right .cls-1 {
  fill: #fcbd1f;
}

section.cards .card {
  width: 480px;
  height: 214px;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

section.cards .card:hover .outline {
  background: #fcbd1f;
}

section.cards .card .outline {
  width: 100%;
  height: 100%;
  -webkit-mask: url("../../images/normal_outline.svg") no-repeat center/contain;
          mask: url("../../images/normal_outline.svg") no-repeat center/contain;
  background: #ff621f;
  position: absolute;
  left: 0;
  top: 0;
}

section.cards .card .detail {
  width: 100%;
  height: 100%;
  position: relative;
  top: 75px;
  font-family: 'Trade Winds', 'serif';
  font-weight: 400;
  font-size: 72px;
  line-height: 60%;
  letter-spacing: 0.1em;
  text-align: center;
  color: white;
  -webkit-transform: rotate(-6deg);
          transform: rotate(-6deg);
}

section.cards .card .detail span {
  position: relative;
  font-family: 'Noto Sans TC', 'sans-serif';
  font-weight: 900;
  font-size: 24px;
  line-height: 35px;
  letter-spacing: 0.1em;
}

section.cards .card .detail span::before {
  content: '';
  position: absolute;
  left: -100%;
  bottom: calc(50% - 2px);
  width: 80px;
  border-top: 2px solid white;
}

section.cards .card .detail span::after {
  content: '';
  position: absolute;
  right: -100%;
  bottom: calc(50% - 2px);
  width: 80px;
  border-top: 2px solid white;
}

footer {
  width: 100%;
  position: relative;
  z-index: 2;
  background: #0046ae;
  overflow: hidden;
  padding-top: 25px;
}

footer .tiger-blue {
  position: absolute;
  left: -20px;
  bottom: -155px;
  width: 100%;
  max-width: 657px;
  fill: #004ec2;
  z-index: 1;
}

footer .tiger-yellow {
  position: absolute;
  right: -30px;
  bottom: -12px;
  width: 100%;
  max-width: 657px;
  fill: #fcbd1f;
  z-index: 1;
}

footer .join-us {
  max-width: 1045px;
  padding: 50px 100px;
  -webkit-box-shadow: 30px 30px 50px rgba(0, 0, 0, 0.25);
          box-shadow: 30px 30px 50px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 2;
}

footer .join-us .title {
  width: 200px;
  font-family: 'Noto Serif TC', 'serif';
  font-weight: 900;
  font-size: 80px;
  line-height: 100px;
  letter-spacing: 0.1em;
  color: #ff621f;
}

footer .join-us .content {
  padding-top: 50px;
  font-family: 'Noto Sans TC', 'sans-serif';
  font-weight: 500;
  font-size: 18px;
  line-height: 34px;
  letter-spacing: 0.1em;
  color: #393939;
  text-align: justify;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}

footer .join-us .join-link {
  width: 320px;
  height: 144px;
  position: absolute;
  right: 0;
  bottom: -60px;
}

footer .join-us .join-link:hover .outline {
  background: #fcbd1f;
}

footer .join-us .join-link .outline {
  width: 100%;
  height: 100%;
  -webkit-mask: url("../../images/normal_outline.svg") no-repeat center/contain;
          mask: url("../../images/normal_outline.svg") no-repeat center/contain;
  background: #ff621f;
  position: absolute;
  left: 0;
  top: 0;
  fill: #ff621f;
}

footer .join-us .join-link a {
  width: 100%;
  height: 100%;
  position: relative;
  top: 50px;
  font-family: 'Noto Serif TC', 'serif';
  font-weight: 900;
  font-size: 30px;
  line-height: 43px;
  letter-spacing: 0.2em;
  text-align: center;
  color: white;
  -webkit-transform: rotate(-6deg);
          transform: rotate(-6deg);
}

footer nav {
  padding-top: 200px;
  position: relative;
  z-index: 1;
}

footer nav .links {
  padding: 6px 25px;
  position: relative;
}

footer nav .links::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 40px;
  border: 2px solid #c3c3c3;
}

footer nav .links:last-child::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  height: 40px;
  border: 2px solid #c3c3c3;
}

footer nav .links a {
  font-family: 'Noto Sans TC', 'sans-serif';
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.3em;
  text-align: center;
  color: white;
}

footer .logo {
  position: relative;
  z-index: 2;
  width: 100%;
  padding: 120px 0;
  font-family: 'Noto Sans TC', 'sans-serif';
  font-weight: 400;
  font-size: 135px;
  line-height: 0.8;
  letter-spacing: 0;
  text-align: center;
  color: white;
}

footer .site-rights {
  position: relative;
  z-index: 2;
  padding-bottom: 22px;
  font-family: 'Noto Sans TC', 'sans-serif';
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #fcbd1f;
}

footer .bottom-line {
  position: relative;
  z-index: 2;
  height: 24px;
  background: #fcbd1f;
}
/*# sourceMappingURL=index.css.map */