@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&family=Noto+Serif+TC:wght@900&family=Trade+Winds&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.content {
  width: 100%;
  position: relative;
}

.bottom-line {
  position: relative;
  z-index: 2;
  height: 24px;
  background: #fcbd1f;
}

header {
  background: #0046ae;
  padding: 15px 0 10px;
  margin-bottom: 128px;
}

@media (max-width: 785px) {
  header {
    padding: 17px 0;
  }
}

@media (max-width: 593px) {
  header {
    padding: 10px 0;
  }
}

header .btt {
  position: fixed;
  right: 30px;
  bottom: 96px;
  z-index: 4;
  padding: 8px 19px;
  background: #ff621f;
  color: white;
  font-size: 30px;
}

header .btt:hover {
  background: #fcbd1f;
}

header .custom-container {
  width: 100%;
  padding: 0 150px;
  max-width: 1620px;
  margin: auto;
}

@media (max-width: 1297px) {
  header .custom-container {
    padding: 0 40px;
    max-width: 1200px;
  }
}

@media (max-width: 785px) {
  header .custom-container {
    padding: 0 29px;
    max-width: 785px;
  }
}

@media (max-width: 593px) {
  header .custom-container {
    padding: 0 15px;
    max-width: 593px;
  }
}

header .custom-container .header-l .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .custom-container .header-l .logo img {
  width: 65px;
}

@media (max-width: 593px) {
  header .custom-container .header-l .logo img {
    width: 30px;
  }
}

header .custom-container .header-l .logo .site-name {
  padding-left: 15px;
  font-family: 'Noto Serif TC', 'serif';
  font-weight: 900;
  font-size: 30px;
  line-height: 117.52%;
  letter-spacing: initial;
  color: white;
}

@media (max-width: 593px) {
  header .custom-container .header-l .logo .site-name {
    padding-left: 7px;
    font-size: 18px;
  }
}

header .custom-container .header-r {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

header .custom-container .header-r .search {
  width: 100%;
  max-width: 350px;
  position: relative;
}

header .custom-container .header-r .search input {
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  background: white;
}

header .custom-container .header-r .search svg {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  color: #393939;
}

header .custom-container .header-r .point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  color: #fcbd1f;
  margin: 0 40px 0 50px;
}

header .custom-container .header-r .point .number {
  margin-left: 10px;
  font-family: 'Noto Sans TC', 'sans-serif';
  font-weight: 700;
  font-size: 24px;
  line-height: 19px;
  letter-spacing: 0.05%;
}

header .custom-container .header-r .notify {
  font-size: 30px;
  color: white;
}

header .custom-container .header-r .notify:hover {
  color: #fcbd1f;
}

header .custom-container .header-r .account {
  color: white;
  font-size: 30px;
  margin: 0 40px;
}

header .custom-container .header-r .account:hover {
  color: #fcbd1f;
}

@media (max-width: 593px) {
  header .custom-container .header-r .account {
    font-size: 20px;
    padding: 0 24px;
  }
}

header .custom-container .header-r .burger-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .custom-container .header-r .burger-menu button.burger {
  width: 34px;
  height: 30px;
  border: none;
  background: transparent;
  position: relative;
  z-index: 50;
  cursor: pointer;
}

@media (max-width: 593px) {
  header .custom-container .header-r .burger-menu button.burger {
    width: 22px;
    height: 20px;
  }
}

header .custom-container .header-r .burger-menu button.burger:focus {
  outline: none;
}

header .custom-container .header-r .burger-menu button.burger:hover.burger-style:after, header .custom-container .header-r .burger-menu button.burger:hover.burger-style:before,
header .custom-container .header-r .burger-menu button.burger:hover.burger-style span {
  background: #fcbd1f;
}

header .custom-container .header-r .burger-menu button.burger:hover.burger-style span:before {
  background: #fcbd1f;
}

header .custom-container .header-r .burger-menu button.burger.burger-style:after, header .custom-container .header-r .burger-menu button.burger.burger-style:before,
header .custom-container .header-r .burger-menu button.burger.burger-style span {
  width: 100%;
  height: 4px;
  border-radius: 100px;
  position: absolute;
  display: block;
  background: white;
}

header .custom-container .header-r .burger-menu button.burger.burger-style:after, header .custom-container .header-r .burger-menu button.burger.burger-style:before {
  content: "";
  -webkit-transition: 0.3s width 0.4s;
  transition: 0.3s width 0.4s;
}

header .custom-container .header-r .burger-menu button.burger.burger-style:after {
  top: 0px;
  left: 0px;
  margin-top: 0px;
}

header .custom-container .header-r .burger-menu button.burger.burger-style:before {
  bottom: 0px;
  right: 0px;
  margin-bottom: 0px;
}

header .custom-container .header-r .burger-menu button.burger.burger-style span {
  top: 50%;
  margin-top: -2px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

header .custom-container .header-r .burger-menu button.burger.burger-style span:before {
  content: "";
  background: white;
  width: 100%;
  height: 4px;
  border-radius: 100px;
  position: absolute;
  left: 0px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

header .custom-container .header-r .burger-menu button.burger.burger-style.on:after {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  width: 0%;
  left: 0px;
}

header .custom-container .header-r .burger-menu button.burger.burger-style.on:before {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  width: 0%;
  right: 0px;
}

header .custom-container .header-r .burger-menu button.burger.burger-style.on span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: 0.3s -webkit-transform 0.4s;
  transition: 0.3s -webkit-transform 0.4s;
  transition: 0.3s transform 0.4s;
  transition: 0.3s transform 0.4s, 0.3s -webkit-transform 0.4s;
  background: #fcbd1f;
}

header .custom-container .header-r .burger-menu button.burger.burger-style.on span:before {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: 0.3s -webkit-transform 0.4s;
  transition: 0.3s -webkit-transform 0.4s;
  transition: 0.3s transform 0.4s;
  transition: 0.3s transform 0.4s, 0.3s -webkit-transform 0.4s;
  background: #fcbd1f;
}

header .custom-container .header-r .burger-menu .menu {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  position: fixed;
  z-index: 10;
  top: 0;
  left: -100vw;
  -webkit-transition: .5s;
  transition: .5s;
  opacity: 0;
  overflow: hidden;
}

header .custom-container .header-r .burger-menu .menu.on {
  left: 0;
  -webkit-transition: .5s;
  transition: .5s;
  opacity: .95;
}

header .custom-container .header-r .burger-menu .menu .main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
  height: 100%;
  background: #0046ae;
}

header .custom-container .header-r .burger-menu .menu .main-menu nav.desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 785px) {
  header .custom-container .header-r .burger-menu .menu .main-menu nav.desktop {
    display: none;
  }
}

header .custom-container .header-r .burger-menu .menu .main-menu nav.desktop .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .custom-container .header-r .burger-menu .menu .main-menu nav.desktop .buttons .menu-botton {
  border: 2px #fcbd1f solid;
  border-radius: 5px;
  padding: 48px 55px;
  margin: 10px;
  background: rgba(252, 189, 31, 0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 30px 30px 50px rgba(0, 0, 0, 0.25);
          box-shadow: 30px 30px 50px rgba(0, 0, 0, 0.25);
  color: #fcbd1f;
  font-size: 45px;
}

header .custom-container .header-r .burger-menu .menu .main-menu nav.desktop .buttons .menu-botton.active {
  background: #fcbd1f;
  color: #0046ae;
}

header .custom-container .header-r .burger-menu .menu .main-menu nav.desktop .buttons .menu-botton div {
  font-family: 'Noto Sans TC', 'sans-serif';
  font-weight: 700;
  font-size: 24px;
  line-height: 25px;
  letter-spacing: 0.05em;
}

header .custom-container .header-r .burger-menu .menu .main-menu nav.mobile {
  display: none;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 785px) {
  header .custom-container .header-r .burger-menu .menu .main-menu nav.mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 80px 28px 0;
  }
}

header .custom-container .header-r .burger-menu .menu .main-menu nav.mobile .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  width: 450px;
}

@media (max-width: 593px) {
  header .custom-container .header-r .burger-menu .menu .main-menu nav.mobile .buttons {
    width: 322px;
  }
}

header .custom-container .header-r .burger-menu .menu .main-menu nav.mobile .buttons .menu-botton {
  border: 2px #fcbd1f solid;
  border-radius: 5px;
  padding: 48px 55px;
  margin-bottom: 20px;
  background: rgba(252, 189, 31, 0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 30px 30px 50px rgba(0, 0, 0, 0.25);
          box-shadow: 30px 30px 50px rgba(0, 0, 0, 0.25);
  color: #fcbd1f;
  font-size: 45px;
}

header .custom-container .header-r .burger-menu .menu .main-menu nav.mobile .buttons .menu-botton:nth-child(even) {
  margin-left: 20px;
}

header .custom-container .header-r .burger-menu .menu .main-menu nav.mobile .buttons .menu-botton.active {
  background: #fcbd1f;
  color: #0046ae;
}

@media (max-width: 593px) {
  header .custom-container .header-r .burger-menu .menu .main-menu nav.mobile .buttons .menu-botton {
    padding: 28px 23px 26px;
  }
}

header .custom-container .header-r .burger-menu .menu .main-menu nav.mobile .buttons .menu-botton div {
  font-family: 'Noto Sans TC', 'sans-serif';
  font-weight: 700;
  font-size: 24px;
  line-height: 25px;
  letter-spacing: 0.05em;
}

header .custom-container .header-r .burger-menu .menu-modal {
  width: 0%;
  height: 100%;
  background: #5c9fe6;
  opacity: 0;
  position: relative;
  left: 300px;
  -webkit-transition: 1s;
  transition: 1s;
}

@media (max-width: 1297px) {
  header .custom-container .header-r .burger-menu .menu-modal {
    position: absolute;
    left: auto;
    right: 0;
  }
}

header .custom-container .header-r .burger-menu .menu-modal.active {
  max-width: 732px;
  width: 40%;
  opacity: 1;
  left: 0;
}

@media (max-width: 1297px) {
  header .custom-container .header-r .burger-menu .menu-modal.active {
    left: auto;
    right: 0;
  }
}

@media (max-width: 785px) {
  header .custom-container .header-r .burger-menu .menu-modal.active {
    width: 322px;
  }
}

header .custom-container .header-r .burger-menu .menu-modal .close-btn {
  background: #5c9fe6;
  border-radius: 50%;
  position: absolute;
  left: -40px;
  top: 50%;
}

header .custom-container .header-r .burger-menu .menu-modal .close-btn button.menu-link-button {
  width: 80px;
  height: 80px;
  border: none;
  background: transparent;
  position: relative;
  cursor: pointer;
  position: relative;
  z-index: 50;
}

header .custom-container .header-r .burger-menu .menu-modal .close-btn button.menu-link-button.burger-style:after, header .custom-container .header-r .burger-menu .menu-modal .close-btn button.menu-link-button.burger-style:before,
header .custom-container .header-r .burger-menu .menu-modal .close-btn button.menu-link-button.burger-style span {
  width: 50%;
  height: 4px;
  border-radius: 100px;
  display: block;
  background: #0046ae;
}

header .custom-container .header-r .burger-menu .menu-modal .close-btn button.menu-link-button.burger-style:after, header .custom-container .header-r .burger-menu .menu-modal .close-btn button.menu-link-button.burger-style:before {
  content: "";
  -webkit-transition: 0.3s width 0.4s;
  transition: 0.3s width 0.4s;
}

header .custom-container .header-r .burger-menu .menu-modal .close-btn button.menu-link-button.burger-style:after {
  top: 0px;
  width: 0%;
  left: 0px;
  margin-top: 0px;
}

header .custom-container .header-r .burger-menu .menu-modal .close-btn button.menu-link-button.burger-style:before {
  bottom: 0px;
  width: 0%;
  right: 0px;
  margin-bottom: 0px;
}

header .custom-container .header-r .burger-menu .menu-modal .close-btn button.menu-link-button.burger-style span {
  margin-top: -2px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: white;
  position: absolute;
  left: 20px;
}

header .custom-container .header-r .burger-menu .menu-modal .close-btn button.menu-link-button.burger-style span:before {
  content: "";
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  background: white;
  width: 100%;
  height: 4px;
  border-radius: 100px;
  position: absolute;
  left: 0px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

header .custom-container .header-r .burger-menu .menu-modal .modal-layout {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

header .custom-container .header-r .burger-menu .menu-modal .modal-layout .link-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  width: 460px;
  padding-top: 30vh;
}

@media (max-width: 1297px) {
  header .custom-container .header-r .burger-menu .menu-modal .modal-layout .link-list {
    width: 322px;
    padding-top: 80px;
  }
}

header .custom-container .header-r .burger-menu .menu-modal .modal-layout .link-list .menu-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

@media (max-width: 1297px) {
  header .custom-container .header-r .burger-menu .menu-modal .modal-layout .link-list .menu-links {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

header .custom-container .header-r .burger-menu .menu-modal .modal-layout .link-list .menu-links .menu-link {
  width: 200px;
  border: 2px #fcbd1f solid;
  border-radius: 5px;
  color: #fcbd1f;
  padding: 15px 50px;
  background: rgba(252, 189, 31, 0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 30px 30px 50px rgba(0, 0, 0, 0.25);
          box-shadow: 30px 30px 50px rgba(0, 0, 0, 0.25);
  margin: 15px;
  font-family: 'Noto Sans TC', 'sans-serif';
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  letter-spacing: 0.3em;
  text-align: center;
}

@media (max-width: 1297px) {
  header .custom-container .header-r .burger-menu .menu-modal .modal-layout .link-list .menu-links .menu-link {
    margin: 0;
    margin-bottom: 20px;
  }
}

header .custom-container .header-r .burger-menu .menu-modal .modal-layout .link-list .menu-links .menu-link:hover {
  background: #fcbd1f;
  color: #0046ae;
}

footer {
  width: 100%;
  padding-top: 50px;
  background: #0046ae;
  position: relative;
  overflow: hidden;
}

footer .footer-flowers-left {
  width: 40%;
  min-width: 314px;
  overflow: hidden;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
}

@media (max-width: 593px) {
  footer .footer-flowers-left {
    z-index: 2;
  }
}

footer .footer-flowers-left object {
  width: 100%;
  position: relative;
}

footer .footer-flowers-right {
  width: 40%;
  min-width: 298px;
  overflow: hidden;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

footer .footer-flowers-right object {
  width: 100%;
  position: relative;
  margin-left: auto;
}

footer .footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 2;
}

@media (max-width: 593px) {
  footer .footer-links {
    padding-top: 150px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

footer .footer-links .link {
  padding: 6px 25px;
  position: relative;
}

@media (max-width: 593px) {
  footer .footer-links .link {
    margin-bottom: 35px;
  }
}

footer .footer-links .link::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 40px;
  border: 1px solid #c3c3c3;
}

@media (max-width: 593px) {
  footer .footer-links .link::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    height: 40px;
    border: 1px solid #c3c3c3;
  }
}

footer .footer-links .link:last-child::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  height: 40px;
  border: 1px solid #c3c3c3;
}

footer .footer-links .link a {
  font-family: 'Noto Sans TC', 'sans-serif';
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.3em;
  text-align: center;
  color: white;
}

footer .footer-links .link a:hover {
  color: #fcbd1f;
}

footer .logo {
  position: relative;
  z-index: 2;
  width: 100%;
  padding: 40px 0;
  font-family: 'Noto Sans TC', 'sans-serif';
  font-weight: 400;
  font-size: 80px;
  line-height: 0.8;
  letter-spacing: 0;
  text-align: center;
  color: white;
}

footer .site-rights {
  position: relative;
  z-index: 2;
  padding-bottom: 20px;
  font-family: 'Noto Sans TC', 'sans-serif';
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #fcbd1f;
}

footer#sp {
  width: 100%;
  position: relative;
  z-index: 2;
  padding: 0 30px;
  padding-top: 25px;
  background: #0046ae;
  overflow: visible;
}

footer#sp::before {
  content: '';
  width: 100%;
  height: 100%;
  background-image: url("../images/footer_block.svg");
  background-repeat: no-repeat;
  background-size: 1920px 1341px;
  background-position: top center;
  position: absolute;
  top: -250px;
  left: 0;
  z-index: 1;
}

@media (max-width: 785px) {
  footer#sp::before {
    top: -200px;
  }
}

@media (max-width: 593px) {
  footer#sp::before {
    background-size: 2338px 1609px;
    top: -150px;
  }
}

footer#sp .footer-flowers-left {
  width: 40%;
  min-width: 314px;
  overflow: hidden;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
}

@media (max-width: 593px) {
  footer#sp .footer-flowers-left {
    z-index: 2;
  }
}

footer#sp .footer-flowers-left object {
  width: 100%;
  position: relative;
}

footer#sp .footer-flowers-right {
  width: 40%;
  min-width: 298px;
  overflow: hidden;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

footer#sp .footer-flowers-right object {
  width: 100%;
  position: relative;
  margin-left: auto;
}

footer#sp .join-us {
  max-width: 1045px;
  background: white;
  padding: 45px 100px 55px;
  -webkit-box-shadow: 30px 30px 50px rgba(0, 0, 0, 0.25);
          box-shadow: 30px 30px 50px rgba(0, 0, 0, 0.25);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  position: relative;
  z-index: 3;
}

@media (max-width: 785px) {
  footer#sp .join-us {
    padding: 27px 50px 93px;
  }
}

@media (max-width: 593px) {
  footer#sp .join-us {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer#sp .join-us .title {
  width: 200px;
  margin-right: 50px;
  font-family: 'Noto Serif TC', 'serif';
  font-weight: 900;
  font-size: 80px;
  line-height: 100px;
  letter-spacing: 0.1em;
  color: #ff621f;
}

@media (max-width: 593px) {
  footer#sp .join-us .title {
    margin-right: auto;
    margin-left: auto;
  }
}

footer#sp .join-us .content {
  padding-top: 50px;
  font-family: 'Noto Sans TC', 'sans-serif';
  font-weight: 500;
  font-size: 18px;
  line-height: 34px;
  letter-spacing: 0.1em;
  color: #393939;
  text-align: justify;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}

@media (max-width: 785px) {
  footer#sp .join-us .content {
    padding-top: 32px;
    font-weight: 400;
  }
}

footer#sp .join-us .join-link {
  width: 320px;
  height: 144px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 60px;
  bottom: -60px;
  z-index: 2;
}

footer#sp .join-us .join-link:hover .outline {
  background: #fcbd1f;
}

footer#sp .join-us .join-link:hover ~ .join-link-ping .outline {
  background: #fcbd1f;
}

@media (max-width: 785px) {
  footer#sp .join-us .join-link {
    right: calc(50% - 160px);
  }
}

@media (max-width: 593px) {
  footer#sp .join-us .join-link {
    bottom: -70px;
  }
}

footer#sp .join-us .join-link .outline {
  width: 100%;
  height: 100%;
  -webkit-mask: url("../../images/normal_outline.svg") no-repeat center/contain;
          mask: url("../../images/normal_outline.svg") no-repeat center/contain;
  background: #ff621f;
  position: absolute;
  left: 0;
  top: 0;
  fill: #ff621f;
}

footer#sp .join-us .join-link a {
  width: 100%;
  height: 100%;
  position: relative;
  top: 50px;
  font-family: 'Noto Serif TC', 'serif';
  font-weight: 900;
  font-size: 30px;
  line-height: 43px;
  letter-spacing: 0.2em;
  text-align: center;
  color: white;
  -webkit-transform: rotate(-6deg);
          transform: rotate(-6deg);
}

footer#sp .join-us .join-link-ping {
  width: 320px;
  height: 144px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 60px;
  bottom: -60px;
  z-index: 1;
  -webkit-animation: ping 2s cubic-bezier(0, 0, 0.2, 1) infinite;
          animation: ping 2s cubic-bezier(0, 0, 0.2, 1) infinite;
}

@-webkit-keyframes ping {
  75%, 100% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    opacity: 0;
  }
}

@keyframes ping {
  75%, 100% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    opacity: 0;
  }
}

@media (max-width: 785px) {
  footer#sp .join-us .join-link-ping {
    right: calc(50% - 160px);
  }
}

@media (max-width: 593px) {
  footer#sp .join-us .join-link-ping {
    bottom: -70px;
  }
}

footer#sp .join-us .join-link-ping .outline {
  width: 100%;
  height: 100%;
  -webkit-mask: url("../../images/normal_outline.svg") no-repeat center/contain;
          mask: url("../../images/normal_outline.svg") no-repeat center/contain;
  background: #ff621f;
  position: absolute;
  left: 0;
  top: 0;
  fill: #ff621f;
}

footer#sp .footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 200px;
  position: relative;
  z-index: 2;
}

@media (max-width: 593px) {
  footer#sp .footer-links {
    padding-top: 150px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

footer#sp .footer-links .link {
  padding: 6px 25px;
  position: relative;
}

@media (max-width: 593px) {
  footer#sp .footer-links .link {
    margin-bottom: 35px;
  }
}

footer#sp .footer-links .link::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 40px;
  border: 1px solid #c3c3c3;
}

@media (max-width: 593px) {
  footer#sp .footer-links .link::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    height: 40px;
    border: 1px solid #c3c3c3;
  }
}

footer#sp .footer-links .link:last-child::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  height: 40px;
  border: 1px solid #c3c3c3;
}

footer#sp .footer-links .link a {
  font-family: 'Noto Sans TC', 'sans-serif';
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.3em;
  text-align: center;
  color: white;
}

footer#sp .footer-links .link a:hover {
  color: #fcbd1f;
}

footer#sp .logo {
  position: relative;
  z-index: 2;
  width: 100%;
  padding: 120px 0;
  font-family: 'Noto Sans TC', 'sans-serif';
  font-weight: 400;
  font-size: 135px;
  line-height: 0.8;
  letter-spacing: 0;
  text-align: center;
  color: white;
}

@media (max-width: 593px) {
  footer#sp .logo {
    padding: 100px 0;
  }
}

footer#sp .site-rights {
  position: relative;
  z-index: 2;
  padding-bottom: 22px;
  font-family: 'Noto Sans TC', 'sans-serif';
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #fcbd1f;
}

@media (max-width: 785px) {
  footer#sp .site-rights span {
    display: block;
  }
}

@media (max-width: 785px) {
  footer#sp .site-rights {
    padding-bottom: 126px;
  }
}

@media (max-width: 593px) {
  footer#sp .site-rights {
    padding-bottom: 373px;
  }
}
/*# sourceMappingURL=layout.css.map */