section.top-news {
    width: 100%;
    height: 100vh;
    margin-top: -100px;
    padding-bottom: 300px;
    box-sizing: content-box;

    background-image: url('../../images/swiper_texture.jpg');

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    @media(max-width: 1297px) {
        padding-top: 125px;
    }

    @media(max-width: 785px) {
        margin-top: 0;
        padding-bottom: 0;
    }

    .custom-container {
        width: 100%;
        max-width: 1575px;
        height: 600px;
        position: relative;

        @media(max-width: 785px) {
            height: 467px;
        }

        .topNewsSwiper {
            width: 100%;
            height: 100%;

            .topnews-swiper-button-prev {
                left: 15%;

                @media(max-width: 1297px) {
                    left: 10%;
                }

                @media(max-width: 785px) {
                    left: 5%;
                }

            }

            .topnews-swiper-button-next {
                right: 15%;

                @media(max-width: 1297px) {
                    right: 10%;
                }

                @media(max-width: 785px) {
                    right: 5%;
                }

            }

            .swiper-button-prev,.swiper-button-next {
                color: $orange-5;
                font-size: 50px;
                &::after {
                    content: ''
                }

                @media(max-width: 785px) {
                    background: $white-1;
                }
            }

            .swiper-slide.swiper-slide-active{
                opacity: 1;
            }

            .swiper-slide {
                width: 100%;
                max-width: 900px;
                opacity: .8;

                @media(max-width: 785px) {
                    max-width: 700px;
                }

                .news-picture {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    width: 100%;
                    height: 100%;
                    padding: 75px 65px;

                    @media(max-width: 785px) {
                        padding: 75px 50px;
                    }

                    mask: url('../../images/swiper_outline-1.svg') no-repeat center / contain;
                    background: $yellow-5;


                    &:hover {
                        .description {
                            color: $orange-5;
                        }
                    }

                    .title {

                        span {
                            display: inline-block;
                            background: $orange-5;
                            padding: 5px 29px;
                            padding-bottom: 9px;
    
                            @include Sans(500, 18px, 26px, .1em);
                            color: $white-1;
                        }
                    }

                    .description {
                        width: 100%;
                        max-width: 616px;
                        padding-top: 16px;
                        @include Sans(700, 18px, 25px, .1em);
                        color: $white-1;

                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}