section.content {
    .custom-container {
        div.form-card.getpassword {
            .icon {
                color: $blue-5;
                font-size: 50px;
                text-align: center;
            }

            .confirm {
                width: 100%;
                max-width: 250px;
                margin: auto;

                @include Sans(400, 14px, 20px, .05em);
                text-align: center;
                color: $gray-5;
            }
            
            .check { 
                text-align: center;
                margin-top: 50px;
                margin-bottom: 20px;

                .text {
                    @include Sans(400, 14px, 14px, .05em);
                    color: $gray-5;
                    margin-bottom: 10px;
                }

                .mail {
                    @include Sans(700, 18px, 18px, .05em);
                    color: $gray-5;
                }
            }

            .return {
                text-align: center;
                a {
                    display: inline-block;
                    border: 1px solid $orange-5;
                    @include Sans(700, 14px, 14px, .1em);
                    color: $orange-5;
                    width: 150px;
                    padding: 12px 0 14px;
                    background: $white-1;

                    &:hover {
                        background: $orange-5;
                        color: $white-1; 
                    }
                }
            }

            .links {
                .link {
                    color: $orange-5;
                    text-decoration: underline;
                }
            }
        }
    }
}