section.content {
    .custom-container {
        .form-card {
            .login-logo {
                width: 120px;
                height: 120px;
                position: absolute;
                top: -60px;
                left: -60px;
            }
        }
    }
}