section.content {
    .custom-container {
        div.form-card.unvertify {
            .icon.failed {
                color: $red-1;
                font-size: 50px;
                text-align: center;
            }

            .confirm {
                width: 100%;
                max-width: 250px;
                margin: auto;

                @include Sans(400, 14px, 14px, .05em);
                text-align: center;
                color: $gray-5;
                padding-bottom: 30px;
            }

            .links {
                .link {
                    display: inline-block;
                    border: 1px solid $orange-5;
                    @include Sans(400, 14px, 14px, .1em);
                    color: $orange-5;
                    width: 150px;
                    text-align: center;
                    padding: 12px 0 14px;
                    background: $white-1;
                    text-decoration: none;

                    &:hover {
                        background: $orange-5;
                        color: $white-1; 
                    }

                    &:nth-child(even) {
                        background: $orange-5;
                        color: $white-1;
                        

                        &:hover {
                            background: $yellow-5;
                            border: 1px solid $yellow-5;
                        }
                    }
                }
            }
        }
    }
}