footer {
    width: 100%;
    padding-top: 250px;
    position: relative;
    z-index: 2;

    background-image: url('../../images/footer_block.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    overflow: hidden;

    .tiger-blue {
        position: absolute;
        left: -20px;
        bottom: -155px;
        width: 100%;
        max-width: 657px;
        fill: $tiger-blue;
        z-index: 1;
    }

    .tiger-yellow {
        position: absolute;
        right: -30px;
        bottom: -12px;
        width: 100%;
        max-width: 657px;
        fill: $yellow-5;
        z-index: 1;
    }


    .join-us {
        max-width: 1045px;
        padding: 50px 100px;
        @include box-shadow;
        position: relative;
        z-index: 2;

        .title {
            width: 200px;

            @include Serif(80px, 100px, .1em);
            color: $orange-5;
        }

        .content {
            padding-top: 50px;

            @include Sans(500, 18px, 34px, .1em);
            color: $gray-5;
            text-align: justify;

            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 5;
        }

        .join-link {
            width: 320px;
            height: 144px;
            position: absolute;
            right: 0;
            bottom: -60px;

            &:hover {
                svg {
                    fill: $yellow-5;
                }
            }

            svg {
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                fill: $orange-5;
            }

            a {
                width: 100%;
                height: 100%;
                position: relative;
                top: 50px;

                @include Serif(30px, 43px, .2em);
                text-align: center;
                color: $white-1;
                transform: rotate(-6deg);
            }
        }
    }

    nav {
        padding-top: 200px;
        position: relative;
        z-index: 2;

        .links {
            padding: 6px 25px;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                height: 40px;
                border: 2px solid $gray-3;
            }

            &:last-child::after {
                content: '';
                position: absolute;
                right: 0;
                top: 0;
                height: 40px;
                border: 2px solid $gray-3;
            }

            a {
                @include Sans(700, 18px, 26px, .3em);
                text-align: center;
                color: $white-1;
            }
        }
    }

    .logo {
        position: relative;
        z-index: 2;

        width:100%;
        padding: 120px 0;

        @include Sans(400, 135px, .8, 0);
        text-align: center;
        color: $white-1;
    }

    .site-rights {
        position: relative;
        z-index: 2;

        padding-bottom: 22px;

        @include Sans(500, 14, 24, .1em);
        text-align: center;
        color: $yellow-5;
    }

    .bottom-line {
        position: relative;
        z-index: 2;
        height: 24px;
        background: $yellow-5;
    }
}