@import '../_var';

h1.pagetitle {
    display: flex;
    justify-content: space-between;

    width: 100%;
    max-width: 1056px;
    margin: 0 auto;
    margin-bottom: 70px;


    .title {
        padding-left: 25px;
        @include Serif(48px, 48px, .05em);
        color: $gray-5;
        padding-bottom: 2px;

        .subtitle {
            @include Serif(14px, 14px, .05em);
            margin-bottom: 5px;
        }
    }


    .return-btn {
        @include Sans(700, 14px, 14px, .1em);
        padding: 12px 30px 14px;

        display: inline-block;
        height: 40px;
        align-self: flex-end;

        @include btn-gray;

    }
}

section.content {
    .purse {
        .custom-container {
            width: 100%;
            max-width: 1056px;
            position: relative;
            margin: auto;
            padding-bottom: 180px;

            .wallets {
                display: flex;
                width: 100%;
                max-width: 500px;
                margin: 0 auto;
                margin-bottom: 50px;
                padding: 10px 0;
                background: $blue-5;
                border-radius: 10px;

                color: $white-1;
                text-align: center;

                .title {
                    @include Sans(700, 14px, 14px, .05em);
                    margin-bottom: 21px;

                    .icon {
                        display: inline-block;
                        width: 14px;
                        height: 14px;
                        background: $white-1;
                        margin-right: 10px;
                    }
                }


                .point {
                    @include Sans(700, 24px, 22px, initial);
                }

                .left {
                    flex: 1 1 0;
                    padding: 11px 0;
                    border-right: 1px solid $blue-4;
                }

                .right {
                    flex: 1 1 0;
                    padding: 11px 0;
                    border-left: 1px solid $blue-4;
                }
            }

            .catalog {
                margin-bottom: 50px;

                .options {
                    @include options;
                    margin-bottom: 30px;
                }

                .filter {
                    display: flex;

                    .btn {
                        @include btn-options;

                        &:hover,
                        &.active {
                            background: $yellow-5;
                            color: $gray-5;
                            font-weight: 700;
                        }

                        &:first-child {
                            margin-left: 0;
                        }
                    }

                    .datetimepicker {
                        display: flex;
                        flex: 1 1 0;
                        color: $gray-5;

                        height: 40px;

                        .input-date {
                            flex: 1 1 0;
                            margin: 0 15px;
                            position: relative;

                            input {
                                width: 100%;
                                height: 100%;
                                border: 1px solid $gray-3;
                                border-radius: 5px;
                                padding: 0 10px;
                                color: $gray-5;
                            }

                            .datepicker-toggle-button {
                                top: 12px;
                            }

                            svg {
                                position: absolute;
                                right: 0;
                                top: 0;
                            }
                        }

                        span {
                            @include Sans(400, 18px, 26px, initial);
                        }


                        .submit-btn {
                            @include btn-gray;
                            padding: 0 45px;
                            color: $gray-4;
                        }
                    }
                }
            }

            .result-table {
                .row {
                    display: flex;
                    @include Sans(400, 14px, 14px, .05em);
                    color: $gray-5;

                    .col {
                        flex: 1 1 0;
                        padding-left: 20px;

                        &:last-child {
                            padding-right: 30px;
                        }
                    }
                }

                .row.header {
                    padding-bottom: 20px;
                }

                .row.body {
                    padding-top: 22px;
                    padding-bottom: 19px;

                    &:nth-child(even) {
                        background: $gray-1;
                    }

                    &:nth-child(odd) {
                        background: $white-1;
                    }

                    .col {
                        flex: 1 1 0;
                        display: flex;

                        .left,
                        .right {
                            text-align: center;
                            flex: 1 1 0;

                            .title {
                                margin-bottom: 5px;
                                color: $gray-4;
                            }

                            .point.add {
                                color: $red-1;
                            }

                            .point.minus {
                                color: $green-1;
                            }
                        }
                    }
                }
            }

            .pagination {
                @include pagination;
                padding-top: 60px;
            }
        }
    }

    .purchase {
        .custom-container {
            width: 100%;
            max-width: 624px;
            position: relative;
            margin: auto;
            padding-bottom: 150px;

            form {
                width: 100%;
                @include normal-shadow;
                border-radius: 20px;
                padding: 50px 112px;

                .input-row {
                    color: $gray-5;
                    margin-bottom: 30px;

                    label.input-label {
                        display: block;
                        @include Sans(700, 14px, 14px, .05em);
                        margin-bottom: 10px;

                        .link {
                            color: $gray-4;
                            font-weight: 400;
                            letter-spacing: initial;

                            text-decoration: underline;
                        }

                        &[for=vertify_code]+.input-col {
                            display: flex;

                            input#vertify_code.input-control {
                                flex: 1 1 0;

                                &~span {
                                    display: inline-block;
                                    margin-left: 15px;
                                    @include Sans(700, 14px, 14px, .1em);
                                    color: $orange-5;
                                    padding: 12px 37px 14px;
                                    border: 1px solid $orange-5;
                                    background: $white-1;

                                    &:hover {
                                        background: $orange-5;
                                        color: $white-1;
                                    }
                                }
                            }
                        }
                    }

                    .input-col {
                        display: flex;
                        align-items: center;
                        position: relative;

                        input.input-control,
                        select.input-control {
                            width: 100%;
                            border: 1px solid $gray-4;
                            border-radius: 5px;
                            background: $white-1;
                            padding: 9px 10px;

                            @include Sans(400, 14px, 14px, initial);
                            color: $gray-5;

                            &::placeholder {
                                color: $gray-3;
                            }

                            &:disabled {
                                background: $gray-2;
                                color: $gray-5;
                            }
                        }

                        .checkbox-mask {
                            display: inline-block;
                            width: 20px;
                            height: 20px;
                            border-radius: 5px;
                            border: 1px solid $gray-4;

                            &+label.input-label {
                                @include Sans(400, 14px, 14px, initial);
                                display: inline-block;
                                margin-left: 10px;
                                margin-bottom: 0;
                            }
                        }

                        &+.msg {
                            display: none;
                            @include Sans(400, 14px, 14px, initial);

                            margin-top: 5px;
                            color: $red-1;
                        }

                        &.error+.msg {
                            display: block;
                        }

                        &.error {
                            .checkbox-mask {
                                border: 1px solid $red-1;
                            }
                        }

                        span.icon {
                            position: absolute;
                            right: 10px;
                        }
                    }

                    label[for=files].input-label {
                        .upload-img {
                            width: 160px;
                            height: 90px;
                            margin-top: 10px;
                            background: $hr-gray;
                            border-radius: 5px;

                            display: flex;
                            justify-content: center;
                            align-items: center;

                            color: $gray-4;
                            font-size: 50px;
                        }
                    }
                }

                .cal {
                    display: flex;
                    padding: 30px;
                    border: 1px solid $gray-4;
                    border-radius: 5px;
                    margin-bottom: 30px;

                    .left {
                        @include Sans(700, 18px, 22px, .05em);
                        padding-right: 40px;

                        .icon {
                            color: $yellow-5;
                            margin: 15px 0;
                        }
                    }

                    .right {
                        flex: 1 1 0;
                        @include Sans(700, 18px, 18px, initial);

                        .spend,
                        .buy {
                            display: flex;
                            line-height: 14px;

                            .title {
                                display: inline-block;
                                margin-right: 15px;
                                @include Sans(400, 14px, 14px, initial);
                                color: $gray-4;
                            }
                        }

                        .spend {
                            padding-bottom: 25px;
                        }

                        hr {
                            margin-bottom: 25px;
                            border-color: $hr-gray;
                        }
                    }
                }

                .submit {
                    display: flex;
                    justify-content: center;
                    padding-top: 20px;

                    button {
                        @include Sans(700, 14px, 14px, .1em);
                        padding: 12px 60px 14px;

                        @include btn-orange;
                    }

                    &.error {
                        padding-bottom: 0;
                    }

                    &+.msg {
                        display: none;
                        @include Sans(400, 14px, 14px, initial);
                        text-align: center;

                        margin-top: 5px;
                        color: $red-1;
                    }

                    &.error+.msg {
                        display: block;
                        padding-bottom: 30px;
                    }
                }

            }


        }
    }
}