.title-l {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 72px;
    font-weight: 900;
}

.title-m {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 48px;
    font-weight: 900;
}

.title-s {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 30px;
    font-weight: 900;
}

.title-trade {
    font-family: 'Trade Winds', cursive;
    font-size: 72px;
}

.text-l {
    font-family: 'Noto Serif TC', serif;
    font-weight: 700;
    font-size: 24px;
}

.text-m-b {
    font-family: 'Noto Serif TC', serif;
    font-weight: 700;
    font-size: 18px;
}

.text-m-r {
    font-family: 'Noto Serif TC', serif;
    font-weight: 400;
    font-size: 18px;
}

.text-s-m {
    font-family: 'Noto Serif TC', serif;
    font-weight: 500;
    font-size: 14px;
}

.bg-gardient-blue {
    background: linear-gradient(#0046AE, #00CAE7);
    color: #FFFFFF;
}

.bg-gardient-orange {
    background: linear-gradient(#FF621F, #FFD04A);
    color: #FFFFFF;
}

.main-blue-1 {
    background: #C8E5FA;
}

.main-blue-2 {
    background: #94C7F6;
}

.main-blue-3 {
    background: #5C9FE6;
}

.main-blue-4 {
    background: #3378CE;
}

.main-blue-5 {
    background: #0046AE;
    color: #FFF;
}

.main-orange-1 {
    background: #FFEBD2;
}

.main-orange-2 {
    background: #FFD2A5;
}

.main-orange-3 {
    background: #FFB278;
}

.main-orange-4 {
    background: #FF9457;
}

.main-orange-5 {
    background: #FF621F;
    color: #FFF;
}

.main-yellow-1 {
    background: #FEF7D2;
}

.main-yellow-2 {
    background: #FEEDA5;
}

.main-yellow-3 {
    background: #FEDF78;
}

.main-yellow-4 {
    background: #FDD256;
}

.main-yellow-5 {
    background: #FCBD1F;
}

.main-gray-1 {
    background: #F5F5F5;
}

.main-gray-2 {
    background: #EBEBEB;
}

.main-gray-3 {
    background: #C3C3C3;
}

.main-gray-4 {
    background: #888888;
}

.main-gray-5 {
    background: #393939;
}

.main-red-1 {
    background: #EB3634;
}

.main-green-1 {
    background: #2CBD03;
}

button.burger {
    width: 60px;
    height: 30px;
    border: none;
    background: transparent;
    position: relative;
    cursor: pointer;

    &:focus {
        outline: none;
    }

    //  Menu Burger 2
    &.burger-style {

        &:after,
        &:before,
        span {
            width: 100%;
            height: 4px;
            border-radius: 100px;
            position: absolute;
            display: block;
            background: rgb(0, 70, 174);

        }

        &:after,
        &:before {
            content: "";
            transition: 0.3s width 0.4s;
        }

        &:after {
            top: 0px;
            left: 0px;
            margin-top: 0px;
        }

        &:before {
            bottom: 0px;
            right: 0px;
            margin-bottom: 0px;
        }

        span {
            top: 50%;
            margin-top: -2px;
            transition: transform 0.3s;

            &:before {
                content: "";
                background: rgb(0, 70, 174);
                width: 100%;
                height: 4px;
                border-radius: 100px;
                position: absolute;
                left: 0px;
                transition: transform 0.3s;
            }
        }

        &.on {


            &:after {
                transition: all 0.2s;
                width: 0%;
                left: 0px;
            }

            &:before {
                transition: all 0.2s;
                width: 0%;
                right: 0px;
            }

            span {
                transform: rotate(45deg);
                transition: 0.3s transform 0.4s;
                background: rgb(252, 189, 31);

                &:before {
                    transform: rotate(-90deg);
                    transition: 0.3s transform 0.4s;
                    background: rgb(252, 189, 31);
                }
            }
        }
    }
}

.menu {
    left: -100vw;
    transition: .5s;
    opacity: 0;
    overflow: hidden;
}

.menu.on {
    left: 0;
    transition: .5s;
    opacity: .95;
}

.menu-botton {
    border: 2px #FCBD1F solid;
    border-radius: 5px;
    padding: 48px 55px;
    margin: 10px;
    background: rgba(252, 189, 31, 0);
    transition: 0.3s;
    box-shadow: 30px 30px 50px rgba(0, 0, 0, 0.25);

    color: rgb(252, 189, 31);
    font-size: 45px;

    div {
        font-family: 'Noto Sans SC';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 25px;
        /* identical to box height, or 104% */

        letter-spacing: 0.05em;
    }
}

.menu-modal {
    width: 0;
    opacity: 0;
    left: 300px;
    transition: 1s;
}

.menu-modal.active {
    width: 732px;
    opacity: 1;
    left: 0;
}

.menu-botton.active,
.menu-links:hover,
.menu-botton:hover {
    background: rgba(252, 189, 31, 1);
    color: rgb(0, 70, 174);
}

.menu-links {
    width: 200px;
    border: 2px #FCBD1F solid;
    border-radius: 5px;
    color: rgb(252, 189, 31);
    padding: 15px 50px;
    background: rgba(252, 189, 31, 0);
    transition: 0.3s;
    box-shadow: 30px 30px 50px rgba(0, 0, 0, 0.25);
    margin: 15px;

    font-family: 'Noto Sans SC';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    letter-spacing: 0.3em;
}

button.menu-link-button {
    width: 80px;
    height: 80px;
    border: none;
    background: transparent;
    position: relative;
    cursor: pointer;


    //  Menu Burger 2
    &.burger-style {

        &:after,
        &:before,
        span {
            width: 50%;
            height: 4px;
            border-radius: 100px;
            display: block;
            background: rgb(0, 70, 174);

        }

        &:after,
        &:before {
            content: "";
            transition: 0.3s width 0.4s;
        }

        &:after {
            top: 0px;
            width: 0%;
            left: 0px;
            margin-top: 0px;
        }

        &:before {
            bottom: 0px;
            width: 0%;
            right: 0px;
            margin-bottom: 0px;
        }

        span {
            margin-top: -2px;
            transition: transform 0.3s;
            transform: rotate(45deg);
            background: rgb(255, 255, 255);
            position: absolute;
            left: 20px;

            &:before {
                content: "";
                transform: rotate(-90deg);
                background: rgb(255, 255, 255);
                width: 100%;
                height: 4px;
                border-radius: 100px;
                position: absolute;
                left: 0px;
                transition: transform 0.3s;
            }
        }
    }
}