section.content {
    .trading-list {
        .custom-container {
            width: 100%;
            max-width: 1056px;
            position: relative;
            margin: auto;
            padding-bottom: 180px;
        }
    }
}