section.popular-competition {
    position: relative;
    padding-bottom: 200px;


    .section-title {
        position: relative;
        margin: auto;
        margin-bottom: 120px;

        @include Serif(48px, 69px, .05em);
        color: $white-1;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: calc(50% - 78px);
            width: 136px;
            height: 8px;
            background: $yellow-5;
        }
    }

    .custom-container {
        display: flex;
        flex-direction: row-reverse;
        width: 75%;
        margin: 0 auto;

        .intro {
            position: relative;
            padding-left: 60px;

            .icon {
                font-size: 230px;
                position: absolute;
                right: 90px;
                top: 23%;
                z-index: 1;
                color: $icon-gray;
            }

            .title {
                @include Serif(48px, 69px, .05em);
                color: $blue-5;
                padding-bottom: 60px;
            }

            .context {
                @include Sans(400, 24px, 35px, .05em);
                color: $gray-5;
                margin-bottom: -35px;
                position: relative;
                z-index: 2;
            }

            .number {
                @include Sans(900, 150px, 217px, 1);
                color: $orange-5;
                padding-bottom: 53px;
                position: relative;
                z-index: 2;

                span {
                    font-size: 30px;
                }
            }

            .notice {
                width: 400px;
                height: 80px;
                position: relative;
                box-sizing: content-box;
                padding-bottom: 115px;

                .noticeSwiper {
                    width: 100%;
                    height: 100%;
                    margin: initial;
                    border: 1px solid $disable-gray;

                    .swiper-slide {
                        padding: 16px 25px;
                        @include Sans(400, 14px, 24px, .1em);
                        text-align: center;
                        color: $disable-gray;
                    }
                }

                .buttons {
                    display: flex;
                    align-items: center;
                    position: absolute;
                    bottom: 0;

                    .notice-swiper-pagination {
                        @include Sans(700, 18px, 19px, .1em);
                        color: $disable-gray;
                        margin: 0 16px;
                    }

                    .notice-swiper-button-next,.notice-swiper-button-prev {
                        color: $disable-gray;
                        font-size: 30px;
    
                        &::after {
                            content: initial;
                        }
                    }
                }

            }

        }

        .feature {
            position: relative;

            .featureSwiper {
                height: 100%;

                .swiper-slide {
                    .card  {
                        width: 280px;
                        @include box-shadow;
                        padding: 20px 30px;

                        .head {
                            @include Sans(700, 18px, 112.7%, .05em);
                            color: $blue-5;
                        }

                        hr {
                            border-top: 1px solid $blue-5;
                        }

                        .card-body {

                            .account {
                                display: flex;
                                padding: 25px 0;

                                .avatar {
                                    width: 90px;
                                    height: 90px;
                                    border-radius: 50%;

                                    background: $avatar-gray;

                                    img {
                                        width: 100%;
                                        height: 100%;
                                    }
                                }

                                .account-detail {
                                    padding-left: 16px;
                                    flex: 1 1 0%;
                                    .name {
                                        @include Sans(700, 18px, 21.15px, 1);
                                        color: $gray-5;
                                    }
                                    .skill {
                                        @include Sans(400, 14px, 125%, .1em);
                                        color: $gray-4;
                                        padding-top: 10px;
                                        padding-bottom: 13px;
                                    }
                                    .follow-btn {
                                        width: 100%;
                                        border: 1px solid $blue-5;
                                        border-radius: 5px;
                                        padding: 8px 0;

                                        @include Sans(400, 14px, 12px, .05em);
                                        text-align: center; 
                                        color: $blue-5;
                                    }
                                }
                            }

                            .rate {
                                 display: flex;

                                 .total-rate {
                                    flex: 1 1 0%;
                                    color: $orange-5;
                                    text-align: center;
                                    position: relative;

                                    &:first-child::after {
                                        content: '';
                                        position: absolute;
                                        height: 100%;
                                        border-right: 1px solid $border-gray;
                                        right:0;
                                        top:0;
                                    }

                                    &:first-child {
                                        padding-right: 30px;
                                    }
                                    &:last-child {
                                        padding-left: 30px;
                                    }

                                    .wins {
                                        @include Sans(900, 48px, 117.52%, 1);
                                    }

                                    .per {
                                        @include Sans(900, 18px, 21.15px, 1);
                                    }

                                    .total {
                                        width: 100%;
                                        @include Sans(400, 14px, 117.52%, 1);
                                        color: $disable-gray;
                                    }

                                    .title {
                                        width: 100%;
                                        padding-top: 16px;
                                        @include Sans(700, 14px, 117.52%, 0.1em);
                                        color: $gray-5;
                                    }
                                 }
                                 .border {
                                    height: 100%;
                                    border-left: 1px solid $border-gray;
                                    padding: 0 30px;
                                 }
                            }
                        }
                    }
                }
            }

            .swiper-button-prev,.swiper-button-next {
                width: initial;
                height: initial;
                color: $orange-5;
                font-size: 40px;

                &::after {
                    content: initial;
                }
            }
        }
    }
}