section.popular-competition {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        background-image: url('../../images/popular_section_background.svg');
        background-position: top;
        background-repeat: no-repeat;
        background-size: contain;
    }


    .section-title {
        position: relative;
        margin: auto;

        @include Serif(48px, 69px, .05em);
        color: $white-1;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: calc(50% - 78px);
            width: 136px;
            height: 8px;
            background: $yellow-5;
        }
    }
}