footer {
    width: 100%;
    position: relative;
    z-index: 2;
    padding: 0 30px;
    padding-top: 25px;
    background: $blue-5;


    &::before {
        content: '';
        width: 100%;
        height: 100%;
        background-image: url('./../images/footer_block.svg');
        background-repeat: no-repeat;
        background-size: 1920px 1341px;
        background-position: top center;
        position: absolute;
        top: -250px;
        left: 0;
        z-index: 1;

        @media (max-width: 785px) { 
            top: -200px;
        }

        @media (max-width: 593px) {
            background-size: 2338px 1609px;
            top: -150px;
        }
    }

    .footer-flowers-left {
        width: 40%;
        min-width: 314px;
        overflow: hidden;

        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 1;

        @media(max-width: 593px) {
            z-index: 2;
        }

        object {
            width: 100%;
            position: relative;
        }
    }

    .footer-flowers-right {
        width: 40%;
        min-width: 298px;
        overflow: hidden;

        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 1;

        object {
            width: 100%;
            position: relative;
            margin-left: auto;
        }
    }


    .join-us {
        max-width: 1045px;
        background: $white-1;
        padding: 45px 100px 55px;
        @include box-shadow;
        text-align: center;

        display: flex;
        margin: 0 auto;

        position: relative;
        z-index: 3;

        @media(max-width: 785px) {
            padding: 27px 50px 93px;
        }

        @media(max-width: 593px) {
            flex-direction: column;
        }

        .title {
            width: 200px;
            margin-right: 50px;

            @include Serif(80px, 100px, .1em);
            color: $orange-5;

            @media (max-width: 593px) {
                margin-right: auto;
                margin-left: auto;
            }
        }

        .content {
            padding-top: 50px;

            @include Sans(500, 18px, 34px, .1em);
            color: $gray-5;
            text-align: justify;

            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 5;

            @media(max-width: 785px) {
                padding-top: 32px;
                font-weight: 400;
            }
        }

        .join-link {
            width: 320px;
            height: 144px;

            display: flex;
            justify-content: center;
            align-items: center;

            position: absolute;
            right: 60px;
            bottom: -60px;
            z-index: 2;

            &:hover {
                .outline {
                    background: $yellow-5;
                }
            }

            &:hover ~ .join-link-ping {
                .outline {
                    background: $yellow-5;
                }
            }

            @media(max-width: 785px) {
                right: calc(50% - 160px);
            }

            @media(max-width: 593px) {
                bottom: -70px;
            }


            .outline {
                width: 100%;
                height: 100%;
                mask: url('../../images/normal_outline.svg') no-repeat center / contain;
                background: $orange-5;
                position: absolute;
                left: 0;
                top: 0;
                fill: $orange-5;
            }

            a {
                width: 100%;
                height: 100%;
                position: relative;
                top: 50px;

                @include Serif(30px, 43px, .2em);
                text-align: center;
                color: $white-1;
                transform: rotate(-6deg);
            }
        }

        .join-link-ping {
            width: 320px;
            height: 144px;

            display: flex;
            justify-content: center;
            align-items: center;

            position: absolute;
            right: 60px;
            bottom: -60px;
            z-index: 1;

            animation: ping 2s cubic-bezier(0, 0, 0.2, 1) infinite;

            @keyframes ping {
                75%, 100% {
                  transform: scale(1.4);
                  opacity: 0;
                }
              }

            @media(max-width: 785px) {
                right: calc(50% - 160px);
            }

            @media(max-width: 593px) {
                bottom: -70px;
            }

            .outline {
                width: 100%;
                height: 100%;
                mask: url('../../images/normal_outline.svg') no-repeat center / contain;
                background: $orange-5;
                position: absolute;
                left: 0;
                top: 0;
                fill: $orange-5;
            }
        }
    }

    .footer-links {
        display: flex;
        justify-content: center;

        padding-top: 200px;
        position: relative;
        z-index: 2;

        @media(max-width: 593px) {
            padding-top: 150px;
            flex-direction: column;
            align-items: center;
        }

        .link {
            padding: 6px 25px;
            position: relative;

            @media(max-width: 593px) {
                margin-bottom: 35px;
            }

            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                height: 40px;
                border: 1px solid $gray-3;
            }

            @media(max-width: 593px) {
                &::after {
                    content: '';
                    position: absolute;
                    right: 0;
                    top: 0;
                    height: 40px;
                    border: 1px solid $gray-3;
                }
            }

            &:last-child::after {
                content: '';
                position: absolute;
                right: 0;
                top: 0;
                height: 40px;
                border: 1px solid $gray-3;
            }

            a {
                @include Sans(700, 18px, 26px, .3em);
                text-align: center;
                color: $white-1;

                &:hover {
                    color: $yellow-5;
                }
            }
        }
    }

    .logo {
        position: relative;
        z-index: 2;

        width: 100%;
        padding: 120px 0;

        @include Sans(400, 135px, .8, 0);
        text-align: center;
        color: $white-1;

        
        @media (max-width: 593px) {
            padding: 100px 0;
        }
    }

    .site-rights {
        position: relative;
        z-index: 2;

        padding-bottom: 22px;

        @include Sans(500, 14px, 24px, .1em);
        text-align: center;
        color: $yellow-5;

        span {
            @media (max-width: 785px) {
                display: block;
            }
        }

        @media (max-width: 785px) {
            padding-bottom: 126px;
        }

        @media(max-width: 593px) {
            padding-bottom: 373px;
        }
    }
}