.tab {
  margin-bottom: 50px;
}
.tab .tab-options {
  display: flex;
  justify-content: center;
}
.tab .tab-options .btn-options {
  font-family: "Noto Sans TC", "sans-serif";
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.1em;
  color: rgb(57, 57, 57);
  background: rgb(235, 235, 235);
  border-radius: 5px;
  padding: 13px 30px;
  margin-left: 15px;
  margin-bottom: 15px;
  width: 120px;
  text-align: center;
  padding: 13px 0;
  margin-left: 15px;
}
.tab .tab-options .btn-options:first-child {
  margin-left: 0;
}
.tab .tab-options .btn-options:hover, .tab .tab-options .btn-options.active {
  background: rgb(255, 98, 31);
  color: rgb(255, 255, 255);
  border-color: rgb(255, 98, 31);
}
.tab .tab-options.sm .btn-options {
  width: 90px;
}

.result-msg {
  display: flex;
  justify-content: center;
  font-family: "Noto Sans TC", "sans-serif";
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.05em;
  color: rgb(136, 136, 136);
  margin-bottom: 50px;
}
.result-msg .icon {
  font-size: 50px;
  margin-right: 20px;
}
.result-msg .msg-detail .title {
  font-weight: 700;
  color: rgb(57, 57, 57);
  margin-bottom: 10px;
}
.result-msg.succes .icon {
  color: rgb(44, 189, 3);
}
.result-msg.failed .icon {
  color: rgb(235, 54, 52);
}

.form-card {
  width: 100%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 50px 112px;
}
.form-card .input-row {
  color: rgb(57, 57, 57);
  margin-top: 30px;
}
.form-card .input-row label.input-label {
  display: block;
  font-family: "Noto Sans TC", "sans-serif";
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.05em;
  margin-bottom: 10px;
}
.form-card .input-row label.input-label .link {
  display: inline-block;
  color: rgb(136, 136, 136);
  font-weight: 400;
  letter-spacing: initial;
  text-decoration: underline;
}
.form-card .input-row label.input-label[for=vertify_code] + .input-col {
  display: flex;
}
.form-card .input-row label.input-label[for=vertify_code] + .input-col input#vertify_code.input-control {
  flex: 1 1 0;
}
.form-card .input-row label.input-label[for=vertify_code] + .input-col input#vertify_code.input-control ~ span {
  display: inline-block;
  margin-left: 15px;
  font-family: "Noto Sans TC", "sans-serif";
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.1em;
  color: rgb(255, 98, 31);
  padding: 12px 37px 14px;
  border: 1px solid rgb(255, 98, 31);
  background: rgb(255, 255, 255);
}
.form-card .input-row label.input-label[for=vertify_code] + .input-col input#vertify_code.input-control ~ span:hover {
  background: rgb(255, 98, 31);
  color: rgb(255, 255, 255);
}
.form-card .input-row .input-col {
  display: flex;
  align-items: center;
  position: relative;
}
.form-card .input-row .input-col.show-point {
  font-family: "Noto Sans TC", "sans-serif";
  font-weight: 700;
  font-size: 24px;
  line-height: 20px;
  letter-spacing: initial;
  color: rgb(255, 98, 31);
}
.form-card .input-row .input-col input.input-control,
.form-card .input-row .input-col select.input-control {
  width: 100%;
  border: 1px solid rgb(136, 136, 136);
  border-radius: 5px;
  background: transparent;
  padding: 9px 10px;
  font-family: "Noto Sans TC", "sans-serif";
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: initial;
  color: rgb(57, 57, 57);
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.form-card .input-row .input-col input.input-control + .arrow,
.form-card .input-row .input-col select.input-control + .arrow {
  position: absolute;
  right: 10px;
  z-index: -1;
}
.form-card .input-row .input-col input.input-control::-moz-placeholder, .form-card .input-row .input-col select.input-control::-moz-placeholder {
  color: rgb(195, 195, 195);
}
.form-card .input-row .input-col input.input-control:-ms-input-placeholder, .form-card .input-row .input-col select.input-control:-ms-input-placeholder {
  color: rgb(195, 195, 195);
}
.form-card .input-row .input-col input.input-control::placeholder,
.form-card .input-row .input-col select.input-control::placeholder {
  color: rgb(195, 195, 195);
}
.form-card .input-row .input-col input.input-control:disabled,
.form-card .input-row .input-col select.input-control:disabled {
  background: rgb(235, 235, 235);
  color: rgb(57, 57, 57);
}
.form-card .input-row .input-col select.input-control {
  padding: 12px 10px;
}
.form-card .input-row .input-col select.input-control option {
  padding: 12px 10px;
}
.form-card .input-row .input-col .point_number {
  font-family: "Noto Sans TC", "sans-serif";
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: initial;
  color: rgb(255, 98, 31);
}
.form-card .input-row .input-col.error ~ .msg, .form-card .input-row .input-col.error + .msg {
  display: block;
}
.form-card .input-row .input-col.error .checkbox-mask {
  border: 1px solid rgb(235, 54, 52);
}
.form-card .input-row .input-col span.icon {
  position: absolute;
  right: 10px;
}
.form-card .input-row .input-col .input-date {
  flex: 1 1 0;
  position: relative;
}
.form-card .input-row .input-col .input-date input {
  width: 100%;
  height: 100%;
  border: 1px solid rgb(195, 195, 195);
  border-radius: 5px;
  padding: 9px 10px;
  color: rgb(57, 57, 57);
}
.form-card .input-row .input-col .input-date .datepicker-toggle-button {
  top: 12px;
}
.form-card .input-row .input-col .input-date svg {
  position: absolute;
  right: 0;
  top: 0;
}
.form-card .input-row .input-col .to {
  font-family: "Noto Sans TC", "sans-serif";
  font-weight: 400;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: initial;
  margin: 0 11px;
}
.form-card .input-row .msg {
  display: none;
  font-family: "Noto Sans TC", "sans-serif";
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: initial;
  margin-top: 5px;
  color: rgb(235, 54, 52);
}
.form-card .input-row .notice {
  margin-top: 5px;
  font-family: "Noto Sans TC", "sans-serif";
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.05em;
  color: rgb(136, 136, 136);
}
.form-card .input-row label[for=files].input-label .upload-img {
  width: 160px;
  height: 90px;
  margin-top: 10px;
  background: #EBEBEB;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(136, 136, 136);
  font-size: 50px;
}
.form-card .submit {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.form-card .submit button,
.form-card .submit a {
  font-family: "Noto Sans TC", "sans-serif";
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.1em;
  width: 150px;
  text-align: center;
  padding: 12px 0 14px;
  background: rgb(255, 98, 31);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 98, 31);
}
.form-card .submit button:hover,
.form-card .submit a:hover {
  background: rgb(252, 189, 31);
  color: rgb(255, 255, 255);
  border-color: rgb(252, 189, 31);
}
.form-card .submit.error {
  padding-bottom: 0;
}
.form-card .submit + .msg {
  display: none;
  font-family: "Noto Sans TC", "sans-serif";
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: initial;
  text-align: center;
  margin-top: 5px;
  color: rgb(235, 54, 52);
}
.form-card .submit.error + .msg {
  display: block;
  padding-bottom: 30px;
}
.form-card .return-link {
  text-align: center;
  padding-top: 50px;
  font-family: "Noto Sans TC", "sans-serif";
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.05em;
  color: rgb(136, 136, 136);
}
.form-card .return-link .link {
  display: inline-block;
  color: rgb(255, 98, 31);
  text-decoration: underline;
}
.form-card .return-link .link.btn {
  text-decoration: none;
  width: 150px;
  text-align: center;
  padding: 12px 0 14px;
  background: rgb(255, 98, 31);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 98, 31);
}
.form-card .return-link .link.btn:hover {
  background: rgb(252, 189, 31);
  color: rgb(255, 255, 255);
  border-color: rgb(252, 189, 31);
}
.form-card .links {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  font-family: "Noto Sans TC", "sans-serif";
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.05em;
}
.form-card .links .link {
  width: 150px;
  font-family: "Noto Sans TC", "sans-serif";
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.1em;
  text-align: center;
  padding: 12px 0;
  background: rgb(255, 255, 255);
  color: rgb(255, 98, 31);
  border: 1px solid rgb(255, 98, 31);
}
.form-card .links .link:hover {
  background: rgb(255, 98, 31);
  color: rgb(255, 255, 255);
  border-color: rgb(255, 98, 31);
}
.form-card .links .link:nth-child(even) {
  margin-left: 15px;
  background: rgb(255, 98, 31);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 98, 31);
}
.form-card .links .link:nth-child(even):hover {
  background: rgb(252, 189, 31);
  color: rgb(255, 255, 255);
  border-color: rgb(252, 189, 31);
}
.form-card .links .return {
  color: rgb(136, 136, 136);
}
.form-card .submit-notice {
  font-family: "Noto Sans TC", "sans-serif";
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.05em;
  color: rgb(57, 57, 57);
  text-align: center;
  margin-top: 20px;
}
.form-card .submit-notice.warning {
  color: rgb(235, 54, 52);
}
.form-card h2.title {
  color: rgb(0, 70, 174);
  font-family: "Noto Serif TC", "serif";
  font-weight: 900;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 0.05em;
  margin-bottom: 30px;
  text-align: center;
}
.form-card p.text {
  font-family: "Noto Sans TC", "sans-serif";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: rgb(57, 57, 57);
  margin-bottom: 50px;
  text-align: center;
}
.form-card .account_pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 35px;
  background: rgb(255, 148, 87);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.form-card .account_pic img {
  width: 100%;
}
.form-card .account_pic .upload-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 12px;
  color: rgb(255, 255, 255);
  background: rgb(0, 70, 174);
  display: flex;
  cursor: pointer;
}
.form-card .account_pic .upload-icon svg {
  margin: auto;
}
.form-card .account_pic input {
  display: none;
}
.form-card .account_pic.edit {
  margin-bottom: 10px;
}
.form-card .account_pic.error + .pic_notify {
  display: block;
}
.form-card .pic_notify {
  display: none;
  text-align: center;
  font-family: "Noto Sans TC", "sans-serif";
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.05em;
  color: rgb(235, 54, 52);
  margin-bottom: 25px;
}
.form-card .list {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}
.form-card .list .row {
  display: flex;
  border-bottom: 2px solid rgb(235, 235, 235);
  padding-top: 15px;
  justify-content: space-between;
}
.form-card .list .row .col {
  font-family: "Noto Sans TC", "sans-serif";
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.05em;
  color: rgb(57, 57, 57);
  margin-bottom: 15px;
}
.form-card .list .row .col:nth-child(even) {
  font-weight: 700;
}
.form-card .list .row .col.text-o {
  color: rgb(255, 98, 31);
}
.form-card .list .row .col .icon {
  display: inline-block;
  color: rgb(252, 189, 31);
  font-size: 14px;
  margin-right: 10px;
}
.form-card .list .row .col.multi-col {
  line-height: 20px;
}
.form-card .list .row .left {
  text-align: left;
}
.form-card .list .row .left .col {
  font-weight: 400;
}
.form-card .list .row .right {
  text-align: end;
}
.form-card .list .row .right .col {
  font-weight: 700;
}
.form-card .list .row.pic {
  display: block;
  margin-bottom: 30px;
}
.form-card .list .row.pic .col {
  font-weight: 700;
}
.form-card .list .row.pic .picture {
  width: 100%;
  height: 166px;
  background: rgb(195, 195, 195);
  border-radius: 5px;
}
.form-card .list .row + .submit {
  padding-top: 50px;
}
.form-card .list .row.account_cards {
  display: block;
  border-bottom: 0;
}
.form-card .list .row.account_cards .card {
  width: 100%;
  display: flex;
  align-items: center;
  border: 1px solid rgb(195, 195, 195);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 5px;
  font-family: "Noto Sans TC", "sans-serif";
  font-weight: 700;
  font-size: 14px;
  line-height: 16.45px;
  letter-spacing: initial;
}
.form-card .list .row.account_cards .card .pic {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgb(255, 148, 87);
}
.form-card .list .row.account_cards .card .pic img {
  width: 100%;
}
.form-card .list .row.account_cards .card .name {
  margin-left: 10px;
}
.form-card .list .row.account_cards .card .point {
  display: inline-block;
  margin-left: auto;
}
.form-card .list .order-card {
  padding-top: 30px;
}
.form-card .account-setting.list {
  max-width: initial;
}
.form-card .account-setting.list .row {
  justify-content: flex-start;
}
.form-card .account-setting.list .row .col:first-child {
  width: 80px;
  padding-right: 20px;
  display: flex;
  align-items: center;
}
.form-card .account-setting.list .row a {
  font-family: "Noto Sans TC", "sans-serif";
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.05em;
  display: inline-block;
  margin-left: auto;
  color: rgb(0, 70, 174);
  text-decoration: underline;
}
.form-card .account-setting.list.edit .row {
  flex-wrap: wrap;
  padding: 20px 0;
}
.form-card .account-setting.list.edit .row:first-child {
  padding-top: 0;
}
.form-card .account-setting.list.edit .row.input-control {
  padding: 7px 0;
}
.form-card .account-setting.list.edit .row.password-confirm {
  padding-top: 50px;
  padding-bottom: 0;
  border-bottom: 0;
}
.form-card .account-setting.list.edit .row.password-confirm .input-col input::-moz-placeholder {
  font-weight: 400;
}
.form-card .account-setting.list.edit .row.password-confirm .input-col input:-ms-input-placeholder {
  font-weight: 400;
}
.form-card .account-setting.list.edit .row.password-confirm .input-col input::placeholder {
  font-weight: 400;
}
.form-card .account-setting.list.edit .row .col {
  margin-bottom: 0;
  display: flex;
  align-items: center;
}
.form-card .account-setting.list.edit .row .input-col {
  flex: 1 1 0%;
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 5px;
}
.form-card .account-setting.list.edit .row .input-col:first-child {
  margin-left: 0;
}
.form-card .account-setting.list.edit .row .input-col input,
.form-card .account-setting.list.edit .row .input-col select {
  flex: 1 1 0;
  border: 1px solid rgb(136, 136, 136);
  border-radius: 5px;
  background: transparent;
  padding: 9px 10px;
  font-family: "Noto Sans TC", "sans-serif";
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: initial;
  color: rgb(57, 57, 57);
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.form-card .account-setting.list.edit .row .input-col input + .arrow,
.form-card .account-setting.list.edit .row .input-col select + .arrow {
  position: absolute;
  right: 10px;
  z-index: -1;
}
.form-card .account-setting.list.edit .row .input-col input::-moz-placeholder, .form-card .account-setting.list.edit .row .input-col select::-moz-placeholder {
  color: rgb(195, 195, 195);
}
.form-card .account-setting.list.edit .row .input-col input:-ms-input-placeholder, .form-card .account-setting.list.edit .row .input-col select:-ms-input-placeholder {
  color: rgb(195, 195, 195);
}
.form-card .account-setting.list.edit .row .input-col input::placeholder,
.form-card .account-setting.list.edit .row .input-col select::placeholder {
  color: rgb(195, 195, 195);
}
.form-card .account-setting.list.edit .row .input-col input:disabled,
.form-card .account-setting.list.edit .row .input-col select:disabled {
  background: rgb(235, 235, 235);
  color: rgb(57, 57, 57);
}
.form-card .account-setting.list.edit .row .input-col input[type=radio],
.form-card .account-setting.list.edit .row .input-col select[type=radio] {
  display: none;
}
.form-card .account-setting.list.edit .row .input-col select {
  padding: 12px 10px;
  font-weight: 400;
}
.form-card .account-setting.list.edit .row .input-col label {
  display: flex;
  align-items: center;
  margin-right: 30px;
  font-family: "Noto Sans TC", "sans-serif";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.05em;
  color: rgb(57, 57, 57);
}
.form-card .account-setting.list.edit .row .input-col label .checkbox {
  width: 20px;
  height: 20px;
  border: 1px solid rgb(136, 136, 136);
  border-radius: 5px;
  margin-right: 10px;
}
.form-card .account-setting.list.edit .row .input-col label .checkbox svg {
  color: rgb(255, 98, 31);
  font-size: 20px;
  display: none;
}
.form-card .account-setting.list.edit .row .input-col label .checkbox.selected {
  border: 0;
}
.form-card .account-setting.list.edit .row .input-col label .checkbox.selected svg {
  display: block;
  width: 20px;
  height: 20px;
}
.form-card .account-setting.list.edit .row span.msg {
  width: 100%;
}
.form-card .account-setting.list.edit .row .notice {
  margin-left: auto;
}
.form-card .account-setting.list.edit .row .notice a {
  font-family: "Noto Sans TC", "sans-serif";
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.05em;
  color: rgb(136, 136, 136);
}
.form-card .order-cards.list .row {
  border-bottom: 0;
}
.form-card .order-cards.list .input-row {
  margin-top: 0;
  padding: 15px 0;
  border-bottom: 1px solid rgb(235, 235, 235);
}
.form-card .order-cards.list .order-card {
  padding-top: 30px;
  border-top: 2px solid rgb(136, 136, 136);
}
.form-card .order-cards.list .order-card .row {
  border-bottom: 2px solid rgb(235, 235, 235);
}
.form-card .order-cards.list .order-card .row.header {
  border-bottom: 0;
}
.form-card .order-cards.list .order-card .row.header + .row {
  padding-top: 0;
}
.form-card .order-cards.list .order-card .row.header .col {
  margin-bottom: 10px;
}
.form-card .order-cards.list .order-card .row.header .col .icon {
  color: rgb(57, 57, 57);
}
.form-card .order-cards.list .order-card .row.header .col .delete-btn {
  font-size: 18px;
  color: rgb(136, 136, 136);
}
.form-card .order-cards.list .order-card .row:last-child {
  border-bottom: 0;
}
.form-card .order-cards.list .order-card .row .col .copy-icon {
  color: rgb(57, 57, 57);
}
.form-card .reservation-btns {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}
.form-card .reservation-btns .btn {
  width: 150px;
  font-family: "Noto Sans TC", "sans-serif";
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.1em;
  text-align: center;
  padding: 12px;
  color: rgb(255, 255, 255);
  margin-left: 15px;
}
.form-card .reservation-btns .btn.contact {
  background: rgb(0, 70, 174);
}
.form-card .reservation-btns .btn.confirm {
  background: rgb(255, 98, 31);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 98, 31);
}
.form-card .reservation-btns .btn.confirm:hover {
  background: rgb(252, 189, 31);
  color: rgb(255, 255, 255);
  border-color: rgb(252, 189, 31);
}
.form-card .reservation-btns .btn:first-child {
  margin-left: 0;
}

span.class {
  display: inline-block;
  width: 85px;
  padding: 5px 0;
  margin-left: 15px;
  font-family: "Noto Sans TC", "sans-serif";
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: initial;
  color: rgb(255, 255, 255);
  text-align: center;
}
span.class.normal {
  background: linear-gradient(94.94deg, #ACF0FA 0%, #00C9E4 35.94%);
}
span.class.platinum {
  background: linear-gradient(94.94deg, #FFE0DA 0%, #FF8A71 35.94%);
}
span.class.golden {
  background: linear-gradient(94.94deg, #FFE8C5 0%, #FFAC2F 35.94%);
}/*# sourceMappingURL=account.css.map */