.recommend {
    .custom-container {
        .recommendSwiper {
            width: 100%;
            height: 600px;
            padding: 30px 0;
            box-sizing: content-box;
            margin-bottom: 70px;

            @media(max-width: 785px) {
                height: 467px;
            }

            @media(max-width: 593px) {
                height: auto;
                display: none;
            }

            .recommend-swiper-button-prev {
                left: 15%;

                @media(max-width: 1297px) {
                    left: 10%;
                }

                @media(max-width: 785px) {
                    left: 5%;
                }

            }

            .recommend-swiper-button-next {
                right: 15%;

                @media(max-width: 1297px) {
                    right: 10%;
                }

                @media(max-width: 785px) {
                    right: 5%;
                }
            }

            .swiper-button-prev,
            .swiper-button-next {
                color: $orange-5;
                font-size: 50px;

                &:hover {
                    color: $yellow-5;
                }

                &::after {
                    content: ''
                }

                @media(max-width: 785px) {
                    background: $white-1;
                }
            }

            .swiper-slide.swiper-slide-active {
                opacity: 1;

                .news-picture {
                    .mask {
                        opacity: 1;
                    }
                }
            }

            .swiper-slide {
                width: 100%;
                max-width: 900px;
                opacity: .8;


                @media(max-width: 785px) {
                    max-width: 700px;
                }

                .news-picture {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    width: 100%;
                    height: 100%;
                    padding: 0 57px 40px 43px;

                    @media(max-width: 785px) {
                        padding: 75px 50px;
                    }

                    mask: url('../../images/swiper_outline-1.svg') no-repeat center / contain;
                    background: $yellow-5;


                    &:hover {
                        transform: scale(1.1);
                        transition-timing-function: cubic-bezier(0.47, 2.02, .31, -.36);
                        transition-duration: 0.5s;

                        .description {
                            color: $orange-5;
                        }
                    }

                    .mask {
                        opacity: 0;

                        background: rgba(0, 0, 0, 0.7);
                        border-radius: 20px;
                        padding: 20px 30px;

                        .title {
                            @include Sans(700, 24px, 30px, .05em);
                            color: $white-1;

                            margin-bottom: 10px;
                        }

                        .data {
                            display: flex;

                            .left {
                                flex: 1 1 0;

                                display: flex;
                                flex-direction: column;
                                justify-content: flex-end;

                                .participate {
                                    color: $white-1;
                                    margin-bottom: 10px;

                                    i {
                                        font-size: 14px;
                                    }

                                    .number {
                                        display: inline-block;
                                        margin-left: 10px;
                                        @include Sans(400, 14px, 14px, .05em);
                                    }
                                }

                                .bar {
                                    width: 100%;
                                    max-width: 560px;

                                    display: flex;
                                    @include Sans(700, 14px, 16px, .05em);
                                    color: $white-1;

                                    position: relative;

                                    .green-bar {
                                        position: absolute;
                                        left:0;
                                        background: $green-1;
                                        border-radius: 20px 0 0 20px;
                                        padding: 6px 10px 8px;
                                    }

                                    .red-bar {
                                        width: 100%;
                                        background: $red-1;
                                        border-radius: 20px;
                                        text-align: right;
                                        padding: 6px 10px 8px;
                                    }
                                }

                            }

                            .right {
                                .remain {
                                    @include Sans(400, 18px, 24px, .05em);
                                    color: $yellow-5;
                                    margin-bottom: 10px;
                                    padding: 0 13px;
                                }

                                .btn {
                                    display: block;
                                    @include Sans(400, 14px, 14px, .1em);
                                    color: $white-1;
                                    background: $orange-5;
                                    padding: 12px 40px 14px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .moblieRecommendSwiper {
            display: none;
            width: 100%;
            height: 100%;
            margin-bottom: 35px;

            @media(max-width: 593px) {
                display: flex;
            }

            .recommend-swiper-button-prev {
                left: 5%;
            }

            .recommend-swiper-button-next {
                right: 5%;
            }

            .swiper-button-prev,
            .swiper-button-next {
                color: $orange-5;
                font-size: 50px;
                background: $white-1;

                &::after {
                    content: ''
                }
            }

            .swiper-slide.swiper-slide-active {
                opacity: 1;

                .link {
                    .tag {
                        opacity: 1;
                    }

                    .description {
                        opacity: 1;
                    }
                }
            }

            .swiper-slide {
                width: 100%;
                height: 100%;

                opacity: .4;

                .link {
                    width: 100%;
                    height: 100%;

                    .pic {
                        width: 100%;
                        height: 247px;
                        mask: url('../../images/swiper_outline-1.svg') no-repeat center / contain;
                        background: $yellow-5;
                    }


                    .tag {
                        display: inline-block;
                        margin-top: 16px;
                        margin-left: 15px;
                        padding: 4px 25px 8px;

                        @include Sans(500, 14px, 20px, .1em);
                        color: $white-1;
                        background: $orange-5;
                        text-align: center;

                        opacity: 0;
                    }

                    .description {
                        width: 100%;
                        margin-top: 10px;
                        padding: 0 15px;
                        @include Sans(700, 18px, 25px, .1em);
                        color: $gray-5;
                        text-align: justify;

                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;

                        opacity: 0;
                    }
                }

                &:hover {
                    .link {
                        .tag {
                            background: $yellow-5;
                        }
                    }

                    .description {
                        color: $orange-5;
                    }
                }
            }
        }
    }
}